{% assign svg-directory={{site.data.corporate-template.global.assets.svg-icon-directory | relative_url | append: "#"}}
%}
<div class="team-card">
    <div class="team-card__img">
      <img
        src="{{site.data.corporate-template.global.assets.images | relative_url}}{{ include.member.image }}"
        alt="{{include.member.name}}"
      />
    </div>
    <div class="team-card__text-container">
      <div class="team-card__text">
          {{ include.member.name }}
        </div>
        <div class="team-card__text team-card__text-active">
          {{ include.member.position }}
        </div>
        <div class="team-card-social">
          {% for social in site.data.corporate-template.team.social-media %}
              {% for msocial in include.member.social-media %}
                  {% if social.name == msocial.name %}
                      <a class="team-card-social__1"  href="{{msocial.account}}" target=”_blank”>
                          {% include svg.html directory=svg-directory image=social.svg-image class=social.class %}
                      </a>  
                  {% endif %}
              {% endfor %}
          {% endfor %}
      </div>
    </div>
  </div>