
.social-box{
    margin-top: 30px;
    @include abscenter;
    justify-content: space-around !important;
  
    &__svg{
        fill: var(--color-secondary);
        height:80%;
        width: 80%;
      }

    &__item{
        width:200px;
        background-color: var(--color-primary-light);
        text-align: center;
        padding: 15px;
        margin:40px 0;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(black, .4);
        position: relative;
        transition:  all .2s;
    
        a{
        text-decoration: none;
        color: white;
        }
    
        &:hover{
        transform: scale(1.1);
        }

        &__logo{
            height: 50px; width: 50px;
            background-color: white;
            position: absolute;
            left: -20px;
            top: -20px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 5px 15px rgba(black, .4);
        }
        
    }
}

  
