.team-section {
 @include abscenter;
  margin: 10rem 0;
}

.team-card {
  position: relative;
  background-color: white;
  width: 200px;
  height: 320px;
  margin: 25px 35px;
  box-shadow: 0px 10px 20px rgba(black, 0.3);
  transition: all 0.2s;

  &:hover {
    outline-offset: 10px;
    outline: 7.5px solid var(--color-primary);
  }

  &:hover {
    .team-card__img img {
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }

    .team-card__text-container {
      height: 100% !important;
    }

    .team-card-social {
      visibility: visible;
      display: flex !important;
      position: absolute;
      width: 100%;
    }
  }
  &__text-container {
    height: 120px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: all 0.4s;
  }

  &__text {
    margin-top: 17.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  &__text-active {
    color: var(--color-primary);
    font-weight: 700;
    padding-bottom: 10px;
  }

  &__img {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;

    img {
      height: 100%;
      width: auto;
      background-position: center;
      margin-right: auto !important;
    }
  }
}

.team-card-social {
  margin-top: 15px;

  display: none !important;
  visibility: hidden;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}


.team-bg{
  padding: 0 5%;
  padding-top:90px;
  padding-bottom: 0;
  @include abscenter;
  height: max-content;
  justify-content: space-between;

  @include respond(tab-land){
    justify-content: center;
  }
  &__side{

    @include abscenter;
    z-index: 0;
    height: 100%;

      &__svg{
        width: 60rem;
        height: 60rem;

          img{
            width: 100%;
            height: auto;
          }
      }
  }
  &__title{
    width: 90%;  
    margin: 20px auto;
    color: var(--color-secondary);
    letter-spacing: 5px;
    font-size: 2rem;   
    text-align: center;
    z-index: 2;
  }
  &__subtitle{
    width: 90%;
    z-index: 1;
    color: rgba(rgb(146, 146, 146), .5);
    margin: 0 auto;
    transform: translateY(-10px);
    letter-spacing: 5px;
    font-size: 1.6rem;   
    text-align: center;
}
}
.team-svg{
  width: 100%;
  height: 100%;
}
.team-box{
    z-index: 2;
    margin: 0 auto;
    height: auto;
    transform: translateY(-50%);
    background-color: rgb(238, 238, 238);
    width: 70%;
    padding: 20px 0;
    box-shadow: 0px 5px 15px rgba(black,  .2);
    border-radius: 5px;
    @include abscenter;
    
    @include respond(tab-land){
      transform: translateY(0);
    }

      &__item{
        display: flex;
        align-content: center !important;
        justify-content: center !important;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }

      &__text{
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 1.5px;
      }
   
  
      &__circle{
        position: relative;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background-color: white;
        align-self: center;
        cursor: pointer;
        transition: all .2s;

        &:hover{
          box-shadow: 0 5px 15px rgba(black, .2);
          transform: scale(1.2);
        }
      }

      &__svg{
        fill: var(--color-terciary);
        height: 35px;
        width: 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
      }
    
}




.team-qualities{
    width: 100%;
    margin: 0 auto;
    @include abscenter;
    justify-content: space-between;
    @include respond(tab-land){
      justify-content: center;
      width: 90%;
    }
    & > *{
      margin: 20px;
      @include respond(tab-port){
          margin-top: 40px;
      }
    }
    &__sections{
        margin-right: 10%;
    }
    &__img{
        @include abscenter;
        width: 60rem;
        height: auto;
        //outline-offset: 10px;
        //outline: 7px solid var(--color-primary);
        position: relative;
        cursor: pointer;
        transition: all .3s;
          #blob-one{
            margin-left: -200px;
            width: 60rem;      
          }
          .image{
            width: 70%;
            height: auto;
            transition: all .3s;
            position: absolute;
            top:50%; left:50%;
            transform: translate(-50%,-50%) rotateZ(10deg);
            
          }
          
       
        
    }
}
