@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
*::selection { background-color: var(--color-primary-light); }

.title-secondary { color: var(--color-secondary); font-size: 2.5rem; }

.title-primary { color: var(--color-secondary); font-size: 3.5rem; letter-spacing: 5px; }

.title-terciary { font-size: 3rem; text-transform: uppercase; font-weight: 700; display: inline-block; background-image: linear-gradient(to right, var(--color-primary), var(--color-terciary)); -webkit-background-clip: text; background-clip: text; color: transparent; letter-spacing: 2px; transition: all .2s; }
.title-terciary:hover { transform: scale(1.1); text-shadow: 5px 10px 20px #6b6b6b5b; }

@keyframes circle-move { 0% { transform: rotate(0deg); }
  70% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); } }
.border__primary { transform: translateY(-20%); height: 100px; background-color: var(--color-primary-light); }
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) { .border__primary { height: 300px; -webkit-clip-path: polygon(0 0%, 50% 20%, 100% 0%, 100% 70%, 50% 90%, 0% 70%); clip-path: polygon(0 0%, 50% 20%, 100% 0%, 100% 60%, 50% 90%, 0% 60%); } }
.border__primary:before { content: ""; width: 50%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(255, 255, 255, 0.2); z-index: 2; visibility: visible; }
@media only screen and (max-width: 56.25em) { .border__primary:before { visibility: hidden; } }
.border__secondary { background-color: var(--color-primary); }
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) { .border__secondary { height: 150px; -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 80%, 0% 100%); clip-path: polygon(0 0, 50% 60%, 100% 0, 100% 20%, 50% 80%, 0% 20%); } }
.border__top { transform: translateY(-100%); }

.btn-cont { display: flex; flex-wrap: wrap; align-self: center; justify-content: center; }

.btn { cursor: pointer; font-size: 16px; font-weight: 400; line-height: 45px; margin: 0 10px; width: auto; padding: 0 10px; position: relative; text-decoration: none; text-transform: uppercase; display: flex; justify-content: center; align-items: center; }
.btn:hover { text-decoration: none; letter-spacing: 1px; }
.btn:hover rect { stroke-width: 5; stroke-dasharray: 15, 310; stroke-dashoffset: 48; transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

.btn-1 { color: white !important; background: var(--color-primary) !important; font-weight: 900; }
.btn-1 svg { height: 45px; left: 0; position: absolute; top: 0; width: 100%; }
.btn-1 rect { fill: none; stroke: #fff; stroke-width: 2; stroke-dasharray: 422, 0; transition: all 0.35s linear; }

.btn-2 { background: transparent !important; font-weight: 900; color: var(--color-primary) !important; }
.btn-2 svg { height: 45px; left: 0; position: absolute; top: 0; width: 100%; }
.btn-2 rect { fill: none; stroke: var(--color-primary); stroke-width: 2; stroke-dasharray: 422, 0; transition: all 0.35s linear; }

.post-module { margin: 20px; position: relative; z-index: 1; display: block; background: white; height: 37.0rem; width: 25.0rem; box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2); overflow: hidden; transition: all 2s linear 0s; }
.post-module:hover { box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
.post-module:hover .thumbnail img { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1); opacity: 0.6; }
.post-module .thumbnail { background: black; height: 22.0rem; overflow: hidden; }
.post-module .thumbnail img { display: block; height: 100%; transition: all 0.3s linear; }
.post-module .xy { overflow: hidden; display: flex; flex-direction: column; height: 100%; }
.post-module .post-content { position: absolute; bottom: 0; background: white; width: 100%; height: 17.0rem; padding: 30px; box-sizing: border-box; transition: all 1s cubic-bezier(0.37, 0.75, 0.61, 1.05); }
.post-module .post-content .category { height: 3.5rem; max-width: 100%; overflow: hidden; position: absolute; top: -17.5px; left: 0; z-index: 20; background: var(--color-primary); padding: 10px 15px; color: white; font-size: 1.4rem; font-weight: 600; text-transform: uppercase; }
.post-module .post-content .title2 { margin: 0; margin-top: 1rem; padding: 0 0 10px; color: gray; font-size: 1.8rem; font-weight: 700; }
.post-module .post-content .sub_title { margin: 0; padding: 0 0 2rem; color: var(--color-primary); font-size: 1.6rem; font-weight: 400; }
.post-module .post-content .description { display: none; color: transparent; font-size: 1.2rem; line-height: 1.8em; }

.post-module:hover .description { display: block; height: auto !important; opacity: 1 !important; visibility: visible; color: grey; }
.post-module:hover .btn-text { display: block; opacity: 1; }
.post-module:hover .post-content { height: calc(100% - 35px / 2); }

.composition { position: relative; }
.composition__photo { height: 180px; box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); border-radius: 2px; position: absolute; z-index: 10; transition: all 0.2s; outline-offset: 10px; }
@media only screen and (max-width: 37.5em) { .composition__photo { height: 90px; } }
.composition__photo:first-child { left: 25%; top: 150px; transform: translate(-25%, -25%); }
.composition__photo:last-child { top: 100px; left: 50%; transform: translate(-25%, -25%); }
.composition__photo:hover { outline: 7.5px solid var(--color-primary); box-shadow: 0 25px 4px rgba(0, 0, 0, 0.5); z-index: 11; }
.composition:hover .composition__photo:not(:hover) { filter: blur(2px); -webkit-filter: blur(2px); filter: grayscale(1); }

.question-cards-container { position: relative; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 30px; }
.question-cards-container .card { position: relative; max-width: 300px; height: 100px; background: #fff; margin: 30px 10px; padding: 20px 15px; display: flex; flex-direction: column; overflow: hidden; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); transition: 0.3s ease-in-out; }
.question-cards-container .card:hover { height: 350px; }
.question-cards-container .card:hover .card__content { visibility: visible; opacity: 1; margin-top: 0; padding-top: 20px; transition-delay: 0.3s; }
.question-cards-container .card__title { position: relative; width: 260px; height: auto; text-align: center; color: var(--color-secondary-light); z-index: 1; }
.question-cards-container .card__title__line { margin: 0 auto; width: 80px; height: 2.5px; background-color: var(--color-primary); margin-top: 15px; }
.question-cards-container .card__content { position: relative; margin-top: -140px; padding: 15px; text-align: center; color: var(--color-secondary); line-height: 20px; font-size: 1.6rem; visibility: hidden; opacity: 0; transition: 0.3s ease-in-out; }

.quote-card { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); background-color: #fff; width: 90%; height: auto; padding: 20px; }
.quote-card__circle { border-radius: 100%; background-color: var(--color-grey-light); position: relative; width: 8rem; height: 8rem; }
.quote-card__circle .quotes { width: 4rem; height: 4rem; fill: var(--color-secondary-light); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.quote-card__text { padding: 20px; margin: 10px 0; text-align: center; font-size: 1.6rem; letter-spacing: 1px; color: var(--color-secondary); }
@media only screen and (max-width: 37.5em) { .quote-card__text { padding: 5px; } }
.quote-card__line { background-color: var(--color-secondary); height: 2px; width: 35px; }
.quote-card__member { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 20px; }
.quote-card__member > * { margin-top: 10px; }
.quote-card__member .circle { width: 50px; height: 50px; border-radius: 100%; background-color: var(--color-secondary); position: relative; }
.quote-card__member .circle img { width: 40px; height: 40px; border-radius: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.quote-card__member .info { margin-left: 15px; display: flex; flex-direction: column; font-size: 1.6rem; }
.quote-card__member .info .position { color: var(--color-primary); }

.circle-animated { position: relative; width: 240px; height: 240px; z-index: -10; }

.circle-animated__one:before { content: ""; background: var(--color-primary-light); position: absolute; width: 168px; height: 2px; left: -60%; top: 50%; transform: rotate(45deg); z-index: -8; }

.circle-animated__one { background: var(--color-primary); border-radius: 50%; box-shadow: 0px 3px 7px 0.7px rgba(0, 0, 0, 0.5); box-sizing: content-box; height: 78px; width: 78px; position: absolute; top: 35%; left: 35%; }

.circle-animated__one:after { content: ""; background: var(--color-secondary); position: absolute; width: 168px; height: 2px; left: -60%; top: 50%; transform: rotate(-45deg); z-index: -12; }

.circle-animated__two { border: 15px solid; border-color: var(--color-secondary-light) transparent var(--color-secondary) transparent; border-radius: 50%; box-sizing: content-box; height: 98px; width: 98px; position: absolute; top: 25%; left: 25%; z-index: -1; animation: circle-move 10s ease infinite; }

.circle-animated__three { background: rgba(0, 0, 0, 0.017); border: 25px solid; border-color: var(--color-terciary) transparent var(--color-primary-light) transparent; border-radius: 50%; box-shadow: 15px 0 25px -20px rgba(0, 0, 0, 0.65); box-sizing: content-box; height: 90px; width: 90px; position: absolute; top: 22%; left: 22%; z-index: -2; animation: circle-move 14s ease infinite; }

.circle-animated__four { background: rgba(0, 0, 0, 0.012); border: 2px solid; border-color: var(--color-secondary-light) transparent var(--color-primary-light) transparent; border-radius: 50%; box-sizing: content-box; height: 168px; width: 168px; position: absolute; z-index: -3; top: 15%; left: 15%; animation: circle-move 15s ease infinite; }

.footer { background-color: var(--color-secondary); padding-bottom: 40px; height: auto; margin: 0 auto; margin-top: auto; }
.footer__container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; align-items: flex-start !important; padding: 0 10%; }
.footer__wave { background-color: var(--color-secondary); }
.footer__copyright { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; font-family: 16px; font-size: 1.5rem; font-weight: 200; color: white; margin: 0 auto; margin-top: 40px; text-align: center !important; }
.footer__svg-info { fill: white; height: 100%; width: 100%; }
.footer__svg-quotes { fill: #58587a; height: 100%; width: 100%; }

.footer-col { margin-top: 20px; display: flex; width: 300px; flex-direction: column; }
.footer-col > * { margin-right: 40px; }
.footer-col__quotes { height: 50px; width: 50px; }
.footer-col__message { color: white; font-weight: 200; font-size: 1.35rem; text-align: end; transform: translateY(-20px); }
.footer-col__member { border-radius: 100%; height: 50px; width: 50px; transform: translateY(-20px); margin-left: 50px; cursor: pointer; transition: all .2s; }
.footer-col__member:hover { filter: opacity(0.6); }
.footer-col__title { color: white; letter-spacing: 2px; font-weight: 600; font-size: 1.6rem; align-self: center; }
.footer-col__logo { height: 60px; width: auto; }
.footer-col__logo img { height: 100%; }
.footer-col__description { color: white; font-weight: 100; text-align: justify; font-size: 1.4rem; line-height: 200%; }
.footer-col__item { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 15px; }
.footer-col__item__svg { height: 18px; width: 18px; width: 25%; }
.footer-col__item__text { color: white; font-weight: 100; font-size: 1.5rem; width: 75%; }

.line { width: 100px; height: 2.5px; background-color: var(--color-primary); }

.main-nav { position: fixed; z-index: 44; display: flex; justify-content: flex-end; align-items: center; background-color: white; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); padding: 0 3rem; width: 100%; height: 70px; }
.main-nav__logo { margin-right: auto; }
.main-nav__logo img { height: 8rem; width: auto; margin-left: 2rem; z-index: 6; cursor: pointer; }
.main-nav__hamburger { width: 40px; height: 40px; border-radius: 5px; z-index: 1; position: relative; cursor: pointer; transition: all .4s ease; display: none; }
@media only screen and (max-width: 56.25em) { .main-nav__hamburger { display: block; } }
.main-nav__hamburger:hover { background-color: var(--color-secondary-light); }
.main-nav__hamburger:hover .hamburger-container .line, .main-nav__hamburger:hover .hamburger-container .line::after, .main-nav__hamburger:hover .hamburger-container .line::before { background-color: white; }
.main-nav__hamburger .toggler { position: absolute; top: 0; left: 0; width: 40px; height: 40px; z-index: 2; opacity: 0; }
.main-nav__hamburger .toggler:checked ~ .menu { visibility: visible; transform: translateX(0); }
.main-nav__hamburger .toggler:checked + .hamburger-container .line { transform: rotate(135deg); }
.main-nav__hamburger .toggler:checked + .hamburger-container .line::before, .main-nav__hamburger .toggler:checked + .hamburger-container .line::after { top: 0; transform: rotate(90deg); }
.main-nav__hamburger .toggler:checked:hover + .hamburger-container .line { transform: rotate(225deg); }
.main-nav__hamburger .menu { visibility: hidden; background-color: #fff; transform: translateX(100%); z-index: 2; position: fixed; top: 70px; right: 0; width: 25%; height: 100%; overflow: hidden; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; justify-content: flex-start; transition: all .2s; }
@media only screen and (max-width: 56.25em) { .main-nav__hamburger .menu { width: 100%; } }
.main-nav__hamburger .menu .dot-container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 20px 0; }
.main-nav__hamburger .menu .dot-container .dot { margin: 10px; height: 10px; width: 10px; background-color: var(--color-secondary); border-radius: 100%; }
.main-nav__hamburger .menu ul { list-style: none; text-align: center; }
.main-nav__hamburger .menu ul li { justify-self: flex-start; margin-right: 0; margin-top: 40px; }
.main-nav__hamburger .menu ul li a { visibility: visible !important; font-size: 2rem; }
.main-nav__hamburger .hamburger-container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.main-nav__hamburger .hamburger-container .line { height: 3.5px; width: 25px; border-radius: 2.5px; background-color: var(--color-secondary); transition: all .4s; }
.main-nav__hamburger .hamburger-container .line::before, .main-nav__hamburger .hamburger-container .line::after { content: ''; position: absolute; top: -8px; width: 25px; border-radius: 2.5px; background-color: var(--color-secondary); height: 3.8px !important; transition: all .4s; }
.main-nav__hamburger .hamburger-container .line::after { top: 8px; }
.main-nav__titles { list-style: none; display: flex; align-items: center; }
.main-nav__titles .block { display: block !important; }
.main-nav__titles li { justify-self: flex-end; margin-right: 4rem; z-index: 6 !important; }
@media only screen and (max-width: 56.25em) { .main-nav__titles li { display: none; } }
.main-nav__titles li a:link, .main-nav__titles li a:visited { padding: 8px; color: var(--color-secondary); letter-spacing: 2px; text-decoration: none; border-radius: 10px; font-size: 1.5rem; -webkit-transition: all 0.2s; transition: all 0.2s; }
@media only screen and (max-width: 56.25em) { .main-nav__titles li a:link, .main-nav__titles li a:visited { visibility: hidden; } }
.main-nav__titles li a:hover, .main-nav__titles li a:active { box-shadow: 0 5px 10px rgba(48, 11, 48, 0.2); }

.banner-container { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; width: 90%; margin: 0 auto; padding-top: 100px; }
@media only screen and (max-width: 75em) { .banner-container { padding-top: 180px; flex-direction: column; } }
.banner-container__svg { width: 60rem; height: 60rem; position: relative; }
@media only screen and (max-width: 37.5em) { .banner-container__svg { width: 30rem; height: 30rem; } }
.banner-container__svg .home-svg { position: absolute; width: 50rem; height: 50rem; top: 50%; left: 50%; transform: translate(-50%, -50%); }
@media only screen and (max-width: 37.5em) { .banner-container__svg .home-svg { width: 20rem; height: 20rem; } }

.header { position: relative; height: auto; background-size: cover; background-position: bottom; background-attachment: fixed; padding-bottom: 50px; /*&:before { content: ""; width: 50%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(black,.1); z-index: 1; visibility: visible; @include respond(tab-port) { visibility: hidden; } } */ }
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) { .header { -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); } }
.header__title { display: flex; flex-direction: column; z-index: 5; width: 45%; }
@media only screen and (max-width: 75em) { .header__title { text-align: center; width: 70%; } }
@media only screen and (max-width: 56.25em) { .header__title { width: 90%; padding: 15px; } }
@media only screen and (max-width: 37.5em) { .header__title { top: 25%; } }
@media only screen and (max-width: 75em) { .header__title .line { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; align-self: center; text-align: center; } }
.header__title-description { text-align: justify; color: var(--color-secondary); }

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) { .us-section { margin-top: -100px !important; } }

.us-col-container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
@media only screen and (max-width: 56.25em) { .us-col-container { flex-direction: column; } }

.us-col { width: 50%; }
@media only screen and (max-width: 56.25em) { .us-col { width: 100%; } }
.us-col__1 { height: 360px; }
.us-col__text { margin: 0 auto; padding: 15px; height: max-content; width: 100%; text-align: center; font-size: 1.5rem; }

.us-quote { width: 100vw; height: auto; position: relative; }
.us-quote__card { width: 60%; position: absolute; top: 25%; left: 10%; }
@media only screen and (max-width: 56.25em) { .us-quote__card { width: 100%; height: 100%; position: relative; top: 0; left: 0; margin: 0 auto; margin-top: 40px; } }
.us-quote__blob { width: 50%; margin-left: auto; }
@media only screen and (max-width: 56.25em) { .us-quote__blob { display: none; } }

.reverse { flex-direction: row-reverse !important; }

.our-section { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 0 auto; }
.our-section .our-card-content { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-around; }
.our-section .our-card-content .our-card { margin: 100px 20px 50px 20px; background-color: #fff; width: 30rem; padding: 20px 10px; height: auto; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); position: relative; z-index: 4; transition: all .3s; }
.our-section .our-card-content .our-card:hover { transform: scale(1.05); }
.our-section .our-card-content .our-card .our-text { margin: 0 auto; display: none; }
@media only screen and (max-width: 37.5em) { .our-section .our-card-content .our-card .our-text { display: block; } }
.our-section .our-card-content .our-card__animated-circles { z-index: 2; position: absolute; top: 0; left: 0; transform: translateY(-50%) translateX(-35%); }
@media only screen and (max-width: 37.5em) { .our-section .our-card-content .our-card__animated-circles { display: none; } }
.our-section .our-card-content .our-card__text { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; text-align: center; height: 100%; margin-left: 100px; color: var(--color-secondary-light); }
@media only screen and (max-width: 37.5em) { .our-section .our-card-content .our-card__text { margin-left: 0px; } }
.our-section .our-card-content .our-card__text .title { font-size: 3rem; }

.our-text { width: 50%; font-size: 1.8rem; color: var(--color-secondary); text-align: center; letter-spacing: 1.5px; }
@media only screen and (max-width: 37.5em) { .our-text { display: none; } }
.our-text .line { width: 100px; height: 2px; background-color: var(--color-primary); margin: 15px auto; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
@media only screen and (max-width: 56.25em) { .our-text { width: 80%; } }

.us-features { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 4rem 0; }
.us-features__card { cursor: pointer; width: 30rem; height: 30rem; margin: 50px 30px; position: relative; border-radius: 2rem; transition: all .2s; }
.us-features__card::after { left: 50%; bottom: 0; transform: translateX(-50%); width: 0%; height: 0%; content: ''; margin: 0 auto; position: absolute; border-bottom: 5px solid var(--color-primary-light); transition: all .2s; }
@media only screen and (max-width: 37.5em) { .us-features__card::after { width: 90%; height: 90%; } }
@media only screen and (max-width: 37.5em) { .us-features__card { box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); } }
.us-features__card:hover { box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.us-features__card:hover::after { width: 90%; height: 90%; }
.us-features__card__circle { position: absolute; left: 50%; transform: translate(-50%, -50%); width: 10rem; height: 10rem; border-radius: 100%; line-height: 105px; margin-right: 30px; background-color: var(--color-secondary-light); }
.us-features__card__circle .svg { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 50%; width: 50%; z-index: 2; fill: #fff; }
.us-features__card__circle::after { left: 0; right: 0; top: 5px; width: 90%; height: 90%; content: ''; margin: 0 auto; position: absolute; border: 5px solid #fff; border-radius: 100%; background-color: var(--color-secondary-light); z-index: 1; }
.us-features__card__text { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 100%; height: 100%; font-size: 2rem; color: var(--color-secondary-light); font-weight: 600; letter-spacing: 1.2px; text-align: center; padding: 15px; }

.feature { background-position: center; background-size: cover; background-repeat: no-repeat; padding: 50px 0; background-color: var(--color-secondary); }
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) { .feature { padding: 50px 0; -webkit-clip-path: polygon(0 0%, 50% 10%, 100% 0%, 100% 100%, 50% 90%, 0 100%); clip-path: polygon(0 0%, 50% 10%, 100% 0%, 100% 100%, 50% 90%, 0 100%); } }
.feature__text-counter { font-size: 2.5rem; font-weight: 500; letter-spacing: 2px; margin-top: 20px; text-align: center; }
.feature__text-message { letter-spacing: 2px; margin-top: 5px; font-size: 1.5rem; }
.feature__circle { height: 70px; width: 70px; border-radius: 100%; background-color: #ececec; position: relative; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); }
.feature__svg { position: absolute; height: 30px; width: 30px; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; fill: var(--color-terciary); }

.feature__card { background-color: #fffbf7; box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); height: 200px; width: 200px; border-radius: 5px; margin: 15px 15px 0px 15px; display: flex; align-items: center; justify-content: center; flex-direction: column; transition: all .2s ease; }
.feature__card:hover { transform: scale(1.1); }

.feature-container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-around !important; padding: 100px 0; }

.book__form { border-radius: 15px; margin: 0 auto; background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) calc(25% + 40px), rgba(255, 255, 255, 0.7) calc(25% + 40px), rgba(255, 255, 255, 0.7) 100%); box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2); width: 70%; padding: 40px; }
@media only screen and (max-width: 56.25em) { .book__form { background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%); } }
@media only screen and (max-width: 37.5em) { .book__form { width: 90%; padding: 20px; } }

.form { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.form__svg { width: 100px; height: 100px; margin-top: 10px; }
.form__group { width: 100%; margin: 0 7px; }
.form__group:not(:last-child) { margin-bottom: 20px; }
.form__text-side { width: 25%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; }
@media only screen and (max-width: 56.25em) { .form__text-side { width: 100%; } }
.form__input-side { width: 75%; padding-left: 40px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; }
@media only screen and (max-width: 56.25em) { .form__input-side { width: 100%; margin-top: 25px; padding-left: 0px; } }
.form__button { width: max-content; }
.form__input { font-family: inherit; color: inherit; font-size: 20px; padding: 15px 20px; border-radius: 2px; background-color: rgba(255, 255, 255, 0.5); border: none; border-bottom: 3px solid var(--color-primary); width: 100%; display: block; transition: all 0.3s; }
@media only screen and (max-width: 56.25em) { .form__input { width: 100%; } }
.form__input:focus { outline: none; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); border-bottom: 3px solid var(--color-secondary); }
.form__input:focus:invalid { border-bottom: 3px solid var(--color-terciary); }
.form__input::-webkit-input-placeholder { color: #616161; }
.form__label { font-size: 15px; font-weight: 700; margin-left: 20px; margin-top: 7px; display: block; transition: all 0.3s; }
.form__input:placeholder-shown ~ .form__label { opacity: 0; visibility: hidden; transform: translateY(-40px); }

.form__input-side1 { display: flex; width: 90%; }
@media only screen and (max-width: 56.25em) { .form__input-side1 { flex-direction: column; } }

.team-section { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 10rem 0; }

.team-card { position: relative; background-color: white; width: 200px; height: 320px; margin: 25px 35px; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); transition: all 0.2s; }
.team-card:hover { outline-offset: 10px; outline: 7.5px solid var(--color-primary); }
.team-card:hover .team-card__img img { filter: grayscale(1); -webkit-filter: grayscale(1); }
.team-card:hover .team-card__text-container { height: 100% !important; }
.team-card:hover .team-card-social { visibility: visible; display: flex !important; position: absolute; width: 100%; }
.team-card__text-container { height: 120px; width: 100%; background-color: white; position: absolute; bottom: 0; transition: all 0.4s; }
.team-card__text { margin-top: 17.5px; text-align: center; text-transform: uppercase; font-size: 1.5rem; letter-spacing: 2px; }
.team-card__text-active { color: var(--color-primary); font-weight: 700; padding-bottom: 10px; }
.team-card__img { position: relative; width: 200px; height: 200px; overflow: hidden; display: flex; }
.team-card__img img { height: 100%; width: auto; background-position: center; margin-right: auto !important; }

.team-card-social { margin-top: 15px; display: none !important; visibility: hidden; display: flex !important; flex-wrap: wrap; justify-content: space-around; position: absolute; width: 100%; }

.team-bg { overflow: hidden; padding: 0 5%; padding-top: 90px; padding-bottom: 20px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; height: max-content; justify-content: space-between; }
@media only screen and (max-width: 75em) { .team-bg { justify-content: center; } }
.team-bg__side { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; z-index: 0; height: 100%; }
.team-bg__side__svg { width: 60rem; height: 60rem; }
@media only screen and (max-width: 37.5em) { .team-bg__side__svg { width: 30rem; height: 30rem; } }
.team-bg__side__svg img { width: 100%; height: auto; }
.team-bg__title { width: 90%; margin: 20px auto; color: var(--color-secondary); letter-spacing: 5px; font-size: 2rem; text-align: center; z-index: 2; }
.team-bg__subtitle { width: 90%; z-index: 1; color: rgba(146, 146, 146, 0.5); margin: 0 auto; transform: translateY(-10px); letter-spacing: 5px; font-size: 1.6rem; text-align: center; }

.team-svg { width: 100%; height: 100%; }

.team-box { z-index: 2; margin: 0 auto; height: auto; transform: translateY(-50%); background-color: #eeeeee; width: 70%; padding: 20px 0; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); border-radius: 5px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
@media only screen and (max-width: 75em) { .team-box { transform: translateY(0); } }
.team-box__item { display: flex; align-content: center !important; justify-content: center !important; flex-direction: column; margin: 0 auto; padding: 20px; }
.team-box__text { margin-top: 10px; font-weight: 700; text-align: center; font-size: 1.25rem; letter-spacing: 1.5px; }
.team-box__circle { position: relative; border-radius: 100%; height: 50px; width: 50px; background-color: white; align-self: center; cursor: pointer; transition: all .2s; }
.team-box__circle:hover { box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); transform: scale(1.2); }
.team-box__svg { fill: var(--color-terciary); height: 35px; width: 35px; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; }

.team-qualities { width: 100%; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-between; }
@media only screen and (max-width: 75em) { .team-qualities { justify-content: center; width: 90%; } }
.team-qualities > * { margin: 20px; }
@media only screen and (max-width: 56.25em) { .team-qualities > * { margin-top: 40px; } }
.team-qualities__sections { margin-right: 10%; }
.team-qualities__img { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 60rem; height: auto; position: relative; cursor: pointer; transition: all .3s; }
.team-qualities__img #blob-one { margin-left: -200px; width: 60rem; }
.team-qualities__img .image { width: 70%; height: auto; transition: all .3s; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotateZ(10deg); }

.social-box { margin-top: 30px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-around !important; }
.social-box__svg { fill: var(--color-secondary); height: 80%; width: 80%; }
.social-box__item { width: 200px; background-color: var(--color-primary-light); text-align: center; padding: 15px; margin: 40px 0; letter-spacing: 2px; font-size: 18px; font-weight: 700; border-radius: 5px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); position: relative; transition: all .2s; }
.social-box__item a { text-decoration: none; color: white; }
.social-box__item:hover { transform: scale(1.1); }
.social-box__item__logo { height: 50px; width: 50px; background-color: white; position: absolute; left: -20px; top: -20px; border-radius: 100px; display: flex; align-items: center; justify-content: center; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); }

.service { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; height: max-content; }
@media only screen and (max-width: 75em) { .service { flex-direction: column; } }
.service__post { width: 75%; padding: 0 40px; padding-right: 60px; }
@media only screen and (max-width: 75em) { .service__post { width: 90%; } }
.service__post__title { color: var(--color-secondary); font-size: 3rem; letter-spacing: 3px; }
.service__post__by { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: start; margin-top: 20px; }
.service__post__by__member { padding-left: 10px; text-transform: uppercase; letter-spacing: 1.25px; text-decoration: none; color: var(--color-secondary-light); transition: color .2s; }
.service__post__by__member:hover { color: var(--color-primary); }
.service__post__by__svg { margin-left: 10px; fill: var(--color-secondary-light); width: 20px; height: 20px; align-self: center; }
.service__post__cite { margin-bottom: 30px; margin-top: 50px; position: relative; }
.service__post__cite__quote { fill: rgba(255, 181, 43, 0.678); position: absolute; top: -25%; left: 0; width: 100px; height: 100px; z-index: 0; }
.service__post__cite p { text-align: center; padding: 20px 10px; color: var(--color-secondary); font-weight: 500; letter-spacing: 1.25px; line-height: 40px; font-size: 2.8rem; z-index: 99999999; }
.service__post__description { letter-spacing: 1.5px; line-height: 30px; margin-top: 20px; text-align: justify; font-size: 1.6rem; font-weight: 300; }
.service__post__description::first-letter { margin-left: 40px; }
.service__post__description--1::first-letter { font-size: 2.6rem; font-weight: 400; }
.service__post__share { margin-top: 40px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: flex-start; }
.service__post__share p { font-size: 1.4rem; letter-spacing: 1.2px; color: var(--color-primary-light); margin-right: 20px; text-transform: uppercase; }
.service__post__share__svg { cursor: pointer; fill: var(--color-primary-light); height: 20px; width: 20px; transition: all .2s; }
.service__post__share__svg:hover { fill: var(--color-secondary-light); }
.service__post__share__svg:not(:last-child) { margin-right: 15px; }
.service__side { width: 25%; height: inherit; border-radius: 10px 0 0 10px; align-self: flex-start; padding: 15px; }
@media only screen and (max-width: 75em) { .service__side { width: 90%; margin-top: 40px; } }
.service__side__title { font-size: 2.5rem; color: var(--color-secondary); margin-bottom: 20px; }
.service__side__tags { margin: 20px 0 40px 0; }
.service__side__tags__box { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.service__side__tags__box .tag { margin: 20px 10px 0 0; padding: 10px; border-radius: 20px; background-color: var(--color-primary-light); color: white; cursor: pointer; font-size: 1.4rem; transition: all .2s; }
.service__side__tags__box .tag:hover { background-color: #5548617a; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); transform: scale(1.12); }
.service__side__categories { margin: 20px 0 40px 0; }
@media only screen and (max-width: 75em) { .service__side__categories { width: 50%; margin: 40px auto; } }
@media only screen and (max-width: 37.5em) { .service__side__categories { width: 100%; margin: 40px auto; } }
.service__side__categories__item { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-between; font-size: 1.4rem; color: var(--color-secondary-light); margin-top: 15px; transition: color .3s; cursor: pointer; }
.service__side__categories__item:hover { color: var(--color-primary-light); }
.service__side__members { margin: 20px 0 40px 0; }
@media only screen and (max-width: 75em) { .service__side__members { width: 50%; margin: 40px auto; } }
@media only screen and (max-width: 37.5em) { .service__side__members { width: 100%; margin: 40px auto; } }
.service__side__members .member-quote { height: auto; margin-top: 40px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding-bottom: 20px; border-bottom: 1px solid var(--color-secondary-light); }
.service__side__members .member-quote .circle { position: relative; border-radius: 100%; width: 65px; height: 65px; background-color: var(--color-primary-light); }
.service__side__members .member-quote .circle img { position: absolute; width: 55px; height: 55px; border-radius: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer; transition: all .3s; }
.service__side__members .member-quote .circle img:hover { filter: opacity(0.6); }
.service__side__members .member-quote .text { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; width: 70%; margin-top: 10px; line-height: 20px; font-weight: 600; color: var(--color-secondary-light); text-align: center; font-size: 1.8rem; }
.service__side__members .member-quote .text__second { color: var(--color-primary-light); font-size: 1.4rem; }

.page-404 { height: 90vh; background-color: white; width: 100%; position: relative; }
.page-404 .center { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding-top: 90px; }
.page-404 .center .error-message { border-radius: 15px; width: 35%; height: auto; text-align: center; color: var(--color-secondary); box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); padding: 20px 20px 40px 20px; }
@media only screen and (max-width: 56.25em) { .page-404 .center .error-message { width: 80%; } }
.page-404 .center .error-message__svg { width: 18rem; height: 18rem; }
.page-404 .center .error-message h3 { font-size: 3rem; letter-spacing: 2px; font-weight: 700; }
.page-404 .center .error-message p { margin-top: 20px; font-size: 2rem; }

.blog { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-between; }
@media only screen and (max-width: 75em) { .blog { justify-content: center; align-items: center; } }
.blog__content { align-self: flex-start; width: 70%; }
@media only screen and (max-width: 75em) { .blog__content { width: 80%; } }
@media only screen and (max-width: 56.25em) { .blog__content { width: 100%; } }
.blog__content .blog-card { margin: 0 auto; margin-top: 30px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); border-radius: 5px; padding: 20px; width: 80%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-wrap: nowrap; transition: all .3s; }
@media only screen and (max-width: 37.5em) { .blog__content .blog-card { flex-direction: column; padding: 5px; } }
.blog__content .blog-card:hover { transform: scale(1.05); }
.blog__content .blog-card__img { width: 25%; height: auto; padding: 10px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
@media only screen and (max-width: 56.25em) { .blog__content .blog-card__img { width: 200px; height: 200px; } }
.blog__content .blog-card__img img { height: auto; width: 100%; }
.blog__content .blog-card__info { width: 75%; display: flex; flex-direction: column; padding: 20px; color: var(--color-secondary); }
@media only screen and (max-width: 56.25em) { .blog__content .blog-card__info { padding: 5px; } }
.blog__content .blog-card__info > * { margin-bottom: 15px; }
.blog__content .blog-card__info .title { font-size: 2rem; font-weight: 600; letter-spacing: 1.4px; }
.blog__content .blog-card__info .by { font-weight: 500; font-size: 1.2rem; }
.blog__content .blog-card__info .description { font-size: 1.4rem; font-weight: 500; }
.blog__content .blog-card__info .more { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-between; }
.blog__content .blog-card__info .more .btn-text { padding: 10px 15px; }
@media only screen and (max-width: 56.25em) { .blog__content .blog-card__info .more .btn-text { margin-top: 15px; } }

.blog__side, .blog-post__side { width: calc(30%); padding-right: 20px; }
@media only screen and (max-width: 75em) { .blog__side, .blog-post__side { padding-right: 0px; width: 90%; flex-direction: row; align-self: center; justify-content: center; } }
.blog__side__title, .blog-post__side__title { font-size: 2.5rem; color: var(--color-secondary); margin-top: 60px; }
@media only screen and (max-width: 75em) { .blog__side__title, .blog-post__side__title { margin-left: 10%; } }
.blog__side .blog__side__cards, .blog-post__side .blog__side__cards { width: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; }
@media only screen and (max-width: 75em) { .blog__side .blog__side__cards, .blog-post__side .blog__side__cards { flex-direction: row; } }
.blog__side .blog__side__cards .blog-small, .blog-post__side .blog__side__cards .blog-small { display: flex; flex-direction: column; width: 300px; margin: 20px !important; }
@media only screen and (max-width: 75em) { .blog__side .blog__side__cards .blog-small, .blog-post__side .blog__side__cards .blog-small { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: row; } }
.blog__side .blog__side__cards .blog-small .blog-card__small, .blog-post__side .blog__side__cards .blog-small .blog-card__small { margin-top: 30px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); border-radius: 5px; width: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-wrap: nowrap; transition: all .3s; }
.blog__side .blog__side__cards .blog-small .blog-card__small:hover, .blog-post__side .blog__side__cards .blog-small .blog-card__small:hover { transform: scale(1.05); }
.blog__side .blog__side__cards .blog-small .blog-card__small__img, .blog-post__side .blog__side__cards .blog-small .blog-card__small__img { width: 35%; height: auto; padding: 5px; }
.blog__side .blog__side__cards .blog-small .blog-card__small__img img, .blog-post__side .blog__side__cards .blog-small .blog-card__small__img img { margin: 0 auto; height: auto; width: 100%; }
.blog__side .blog__side__cards .blog-small .blog-card__small__info, .blog-post__side .blog__side__cards .blog-small .blog-card__small__info { width: 65%; display: flex; flex-direction: column; padding: 2rem 1.5rem; color: var(--color-secondary); }
.blog__side .blog__side__cards .blog-small .blog-card__small__info > *, .blog-post__side .blog__side__cards .blog-small .blog-card__small__info > * { margin-bottom: 15px; }
.blog__side .blog__side__cards .blog-small .blog-card__small__info .title, .blog-post__side .blog__side__cards .blog-small .blog-card__small__info .title { font-size: 1.6rem; font-weight: 600; letter-spacing: 1.4px; }
.blog__side .blog__side__cards .blog-small .blog-card__small__info a, .blog-post__side .blog__side__cards .blog-small .blog-card__small__info a { background-color: transparent; border: 1px solid var(--color-primary); color: var(--color-primary); border-radius: 100%; font-size: 1.8rem; font-weight: 600; text-decoration: none; align-self: flex-end; width: 3rem; height: 3rem; position: relative; box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2); transition: all .2s; }
.blog__side .blog__side__cards .blog-small .blog-card__small__info a:hover, .blog-post__side .blog__side__cards .blog-small .blog-card__small__info a:hover { color: var(--color-secondary-light); border-color: var(--color-secondary-light); transform: scale(0.9); }
.blog__side .blog__side__cards .blog-small .blog-card__small__info a .plus, .blog-post__side .blog__side__cards .blog-small .blog-card__small__info a .plus { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.blog-card__info__svg { fill: var(--color-secondary-light); height: 1.8rem; width: 1.8rem; transition: all .2s; }

.update { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: flex-start; }
.update > * { align-self: flex-start; }
.update:hover { color: var(--color-primary); }
.update:hover .blog-card__info__svg { fill: var(--color-primary); }
.update p { margin-left: 10px; font-weight: 500; font-size: 1.2rem; transition: all .2s; }

.blog-post { padding-top: 90px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.blog-post__article { align-self: flex-start; display: flex; flex-direction: column; width: 70%; }
@media only screen and (max-width: 75em) { .blog-post__article { width: 90%; } }
.blog-post__article__path { margin-top: 20px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: flex-start; }
.blog-post__article__path > * { margin-right: 10px; font-size: 1.4rem; }
.blog-post__article__path .text { text-decoration: none; color: var(--color-secondary); transition: all .2s; }
.blog-post__article__path .text:hover { text-decoration: underline; color: var(--color-primary); }
.blog-post__article__path .arrow { color: var(--color-primary); }
.blog-post__article__title { margin-top: 20px; font-size: 3.5rem; }
.blog-post__article__info { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: flex-start; margin-top: 20px; }
.blog-post__article__info > * { margin-right: 10px; font-size: 1.4rem; }
.blog-post__article__line { margin-top: 5px; width: 90%; height: 0.8px; background-color: var(--color-secondary-light); }
.blog-post__article__image { margin-top: 20px; width: 40%; }
.blog-post__article__content { width: 100%; padding: 20px 10% 0 0; text-align: justify; font-size: 1.6rem; color: var(--color-secondary); font-weight: 400; letter-spacing: 1.4px; text-indent: 40px; line-height: 2; }
@media only screen and (max-width: 75em) { .blog-post__article__content { padding: 20px 0 0 0; } }
.blog-post__side { width: 30%; }
@media only screen and (max-width: 75em) { .blog-post__side { width: 90%; } }
.blog-post__side .btn-text { margin: 0 auto; margin-top: 30px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; color: var(--color-secondary); font-size: 1.6rem; border-color: var(--color-secondary); }
@media only screen and (max-width: 75em) { .blog-post__side .btn-text { width: 100px; } }
.blog-post__side .btn-text:hover { background-color: var(--color-secondary); color: #fff; }
