{% assign data = site.data.online-courses-template.instructor.my-courses %}
<div class="title-stripe__text">
  {{page.name}}
</div>
<section class="edit-course mt-medium"> 
    {% assign course-title=page.name %} 
    {% include online-courses-template/global/horizontal-menu.html menu=site.data.online-courses-template.instructor.course-detail %}
</section>


{% include global/modal.html title=site.data.online-courses-template.instructor.sections.popup-edit.title id=site.data.online-courses-template.instructor.sections.popup-edit.id file='online-courses-template/instructor/edit-module.html' %}
