<div class="accordion-container ">
    <div class="accordion">
      <dl>
        {% for item in include.collection %}
            <dt>
            <a href="#accordion1" aria-expanded="{% if forloop.index == 1 %} true {% else %} false {% endif %}" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger {% if forloop.index == 1 %} is-collapsed is-expanded {% endif %}">{{item.title}}</a>
            </dt>
            <dd class="accordion-content accordionItem {% if forloop.index == 1 %} is-expanded {% else %} is-collapsed {% endif %} " id="accordion1" aria-hidden="true">
                    {% for text in item.texts %}
                        <div class="item" >
                            {% include global/svg.html directory=include.svg-directory image='wheat' class='item-icon'  %}
                            <p>{{text.text}}</p>
                        </div> 
                    {% endfor %}
            </dd>
        {% endfor %}
      </dl>
    </div>
</div>

<script>
(function(){
	let accordionItems = document.querySelectorAll('.js-accordionTrigger'),
	setAria,
	setAccordionAria;

	setAriaAttr = function(el, ariaType, newProperty){
		el.setAttribute(ariaType, newProperty);
	};
	setAccordionAria = function(el1, el2, expanded){
		switch(expanded) {
            case "true":
                setAriaAttr(el1, 'aria-expanded', 'true');
                setAriaAttr(el2, 'aria-hidden', 'false');
                break;
            case "false":
                setAriaAttr(el1, 'aria-expanded', 'false');
                setAriaAttr(el2, 'aria-hidden', 'true');
                break;
            default:
                        break;
        }
	};

 changeItem = function(e) {
        e.preventDefault();
        var itemHeader = e.target;
        var itemContent = e.target.parentNode.nextElementSibling;
        if(itemContent.classList.contains('is-collapsed')) {
           // setAccordionAria(itemHeader, itemContent, 'true');
           itemHeader.setAttribute('aria-expanded', 'true');
           itemContent.setAttribute('aria-hidden', 'false');
        } else {
           // setAccordionAria(itemHeader, itemContent, 'false');
            itemHeader.setAttribute('aria-expanded', 'false');
            itemContent.setAttribute('aria-hidden','true');
        }
        itemHeader.classList.toggle('is-collapsed');
        itemHeader.classList.toggle('is-expanded');
            itemContent.classList.toggle('is-collapsed');
            itemContent.classList.toggle('is-expanded');
        
        itemContent.classList.toggle('animateIn');
 };
	for (var i=0,len=accordionItems.length; i<len; i++) {
        accordionItems[i].addEventListener('click', changeItem, false);
    }
})();
</script>