<div class="accordion-container ">
    <div class="accordion">
        {% for item in include.collection %}
            {% assign reverse = forloop.index | modulo: 2 | ceil %}
    <div class="accordion-item-container {% if reverse == 0 %} accordion-item-container--reverse {% endif %} " > 
                {% assign image = include.icons-prefix | append: forloop.index | append: '.png' %}
                <img src="{{include.image-directory  | append: image | relative_url }}" alt="" {% if include.image == false %} style="display: none;" {% endif %}>
                <dl {% if include.image == false %} style="width:90%;" {% endif %}>
                    <dt>
                        <a href="#accordion{{forloop.index}}" aria-expanded="false" aria-controls="accordion{{forloop.index}}" class="accordion-title accordionTitle {% if include.expanded == false %} {% else %} accordionTrigger {% endif %} {% if forloop.index == 1 %} is-collapsed is-expanded {% endif %}">{{item.title}}</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded " id="accordion{{forloop.index}}" aria-hidden="true">
                        {% for text in item.texts %}
                            <div class="item">
                                {% if text.text %}
                                    {% include global/svg.html directory=include.svg-directory image=include.icon class='item-icon'  %}
                                    <p>{{text.text}}</p>
                                {% endif %}
                                {% if text.title %}
                                    <p>{{text.title}}</p>
                                {% endif %}
                            </div> 
                        {% endfor %}
                    </dd>
                </dl>    
            </div>     
        {% endfor %}
    </div>
</div>

<script>
(function(){
	let accordionItems = document.querySelectorAll('.accordionTrigger');

 changeItem = function(e) {
        e.preventDefault();
        var itemHeader = e.target;
        var itemContent = e.target.parentNode.nextElementSibling;
        if(itemContent.classList.contains('is-collapsed')) {
           itemHeader.setAttribute('aria-expanded', 'true');
           itemContent.setAttribute('aria-hidden', 'false');
        } else {
            itemHeader.setAttribute('aria-expanded', 'false');
            itemContent.setAttribute('aria-hidden','true');
        }
        itemHeader.classList.toggle('is-collapsed');
        itemHeader.classList.toggle('is-expanded');
            itemContent.classList.toggle('is-collapsed');
            itemContent.classList.toggle('is-expanded');
        
        itemContent.classList.toggle('animateIn');
 };
	for (var i=0,len=accordionItems.length; i<len; i++) {
        accordionItems[i].addEventListener('click', changeItem, false);
    }
})();
</script>