
<nav {% if include.sticky == true %} class="sticky-header" {% else %} class="header" {% endif %}>
    <a class="header__logo" href="{{include.base-url | append: include.logo.href | relative_url}}">
        <img src="{{include.image-directory | append: include.logo.name | relative_url}}" alt="{{include.logo.alt}}">
    </a>
    <ul class="header__navigation">
        {% for link in include.nav-links %}
            <li><a href="{{include.base-url | append: link.href | relative_url}}">{{link.name | upcase }}</a></li>
        {% endfor %}
        {% include global/svg.html directory=include.svg-directory image=include.icons.icon-close class='header__menu header__menu--close'  %}
    </ul>
    {% include global/svg.html directory=include.svg-directory image=include.icons.icon-open class='header__menu header__menu--open'  %}
</nav>

<script>
    window.addEventListener("scroll", function(){
        var header= document.querySelector(".header");
        if (header){
            header.classList.toggle("sticky-header",window.scrollY > 0);
        }
    })
    let menu = document.querySelectorAll('.header__menu');

    for (var i=0;i<menu.length;i++){
        menu[i].addEventListener("click", function(){
        let nav = document.getElementsByClassName('header__navigation')[0];
        nav.classList.toggle('header__navigation--show')
    })
    }
</script>