{% assign
    svg-directory=site.data.culinary-blog-template.global.site.directories.svg-icon-directory
    | relative_url | append: "#" %}
<div class="increase-box">
    <a onclick="incrementDecreaseValue('decrease',{{include.value}})" class="left">
        {% include global/svg.html directory=svg-directory image='icon-minus' class="icon" %}
    </a>
    <div class="increase-box__input"   initialValue="{{include.value}}" >{{include.value}}</div>
    <a onclick="incrementDecreaseValue('increment',{{include.value}})" class="right">
        {% include global/svg.html directory=svg-directory image='icon-plus' class="icon" %}
    </a>
</div>

<script>
function incrementDecreaseValue(operation, value)
{
    var value = parseInt(document.getElementsByClassName('increase-box__input')[0].textContent, 10);
    value = isNaN(value) ? 0 : value;
    if (operation == 'increment') value++;
    else {
        if ( (value-1) > 0 ){
            value--;
        }
    };
    document.getElementsByClassName('increase-box__input')[0].innerHTML = value;
    changeTableValues(value);
}
</script>