.feature{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
  
    background-color: var(--color-secondary);
     @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        padding: 50px 0;
        -webkit-clip-path: polygon(
            0 0%, 50% 10%, 100% 0%, 100% 100%,50% 90%, 0 100%
        ); 
        clip-path: polygon( 0 0%, 50% 10%, 100% 0%, 100% 100%,50% 90%, 0 100%);
      }
  
        &__text-counter{
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: 2px;
            margin-top: 20px;
            text-align: center;
        }

        &__text-message{
            letter-spacing: 2px;
            margin-top: 5px;
            font-size: 1.5rem;
        }
        
        &__circle{
            height: 70px; width: 70px;
            border-radius: 100%;
            background-color: rgb(236, 236, 236);
            position: relative;
            box-shadow: 0 5px 5px rgba(black,.15);

        }

        &__svg{
            position: absolute;
            height: 30px;
            width: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            fill: var(--color-terciary);   
        }
        
}

.feature__card{
    background-color: rgb(255, 251, 247);
    box-shadow: 0 15px 40px rgba(black ,.4);
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 15px 15px 0px 15px;
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
    transition: all .2s ease;
    &:hover{
        transform: scale(1.1);
    }
}


.feature-container{
    @include abscenter;
    justify-content: space-around !important;
    padding: 100px 0;
}



