<div class="accordion-container ">
    <div class="accordion">
        {% if include.start %}
            {% assign start = include.start %}
        {% else %}
            {% assign start = 1 %}
        {% endif %}
        {% for item in include.collection %}
            {% assign reverse = forloop.index | modulo: 2 | ceil %}
            <div class="accordion-item-container {% if reverse == 0 %} accordion-item-container--reverse {% endif %} " > 
                {% assign image = include.icons-prefix | append: forloop.index | append: '.png' %}
                {% if include.icons-prefix %}
                    <img src="{{include.image-directory  | append: image | relative_url }}" alt="" {% if include.image == false %} style="display: none;" {% endif %}>
                {% endif %}
                <dl {% if include.image == false %} style="width:90%;" {% endif %}>
                    <dt >
                        <a href="#accordion{{start}}" aria-expanded="false" aria-controls="accordion{{start}}" class="accordion-title accordionTitle accordionTrigger {% if include.expanded == false %}  {% else %}  is-collapsed is-expanded {% endif %} ">
                            <p>{{item.title}}</p>
                            {% include global/svg.html directory=include.svg-directory image='icon-arrow-down' class='icon-arrow'  %}
                        </a>                   
                    </dt>
                    <dd class="accordion-content accordionItem {% if include.expanded == true %}is-expanded{% else %} is-collapsed {% endif %}" id="accordion{{start}}" aria-hidden="true">
                        {% for text in item.texts %}
                            <div class="item">
                                {% if text.text %}
                                    {% if include.icon %}
                                        {% include global/svg.html directory=include.svg-directory image=include.icon class='item-icon'  %}
                                    {% endif %}
                                    {% if include.checkbox %}
                                        <input type="checkbox">
                                    {% endif %}
                                    <p>{{text.text}}</p>
                                {% endif %}
                                {% if text.title %}
                                    <p>{{text.title}}</p>
                                {% endif %}
                            </div> 
                        {% endfor %}
                    </dd>
                    {% assign start = start | plus : 1 %}
                </dl>    
            </div>     
        {% endfor %}
    </div>
</div>