<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title  }}{% else %}{{ include.site.title  }}{% endif %}</title>
	<link rel="shortcut icon" href="{{ include.site.directories.images | append: include.site.favicon | relative_url }}">
	<link rel="stylesheet" href="{{'/css/main.css' | relative_url }}">
	<link rel="stylesheet" href="{{ include.site.css | relative_url }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
{% if page.page-image %}
	{% assign image-directory= include.site.directories.images | append: page.page-image | relative_url 
		%}
{% else %}
	{% assign image-directory= include.site.directories.images | append: include.site.logo-social-media | relative_url 
			%}
{% endif %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ include.site.title }}{% endif %}">
<meta itemprop="description" content="{% if page.page-description %} {{page.page-description  |  truncate: 200 }} {% else %} {{include.site.description  |  truncate: 200 }}{% endif %}">
<meta itemprop="image" content="{{image-directory}}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{include.site.twitter}}"> 
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ include.site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.page-description %} {{page.page-description |  truncate: 200 }} {% else %} {{include.site.description  |  truncate: 200 }}{% endif %}">
<meta name="twitter:creator" content="{{include.site.creator}}">
<meta name="twitter:image" content="{{image-directory}}">


<!-- Open Graph data -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ include.site.title }}{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.example.com/" /> <!--to be defined-->
<meta property="og:image" content="{{image-directory}}" />
<meta property="og:description" content="{% if page.page-description %} {{page.page-description |  truncate: 200 }} {% else %} {{include.site.description  |  truncate: 200 }}{% endif %}" />
<meta property="og:site_name" content="{{include.site.title}}}" />	

	<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
	/>
	{% if include.script %}
		{% include {{include.script}} %}
	{% endif %}
</head> 
