<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<script src="https://kit.fontawesome.com/b795eef387.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{{ '/javascript/general.js' | relative_url }}"></script>
<script src="{{ '/javascript/carousel.js' | relative_url }}"></script>
<script src="{{ '/javascript/table.js' | relative_url }}"></script>
<script src="{{ '/javascript/pagination.js' | relative_url }}"></script>
<script src="{{ '/javascript/charts.js' | relative_url }}"></script>
<script src="{{ '/javascript/accordion.js' | relative_url }}"></script>

