$snappy:  cubic-bezier(0.694,  0.048, 0.335, 1.000);
$gray: gray;
$white: #fff;
$gray-light: #e4e4e4;
$gray-dark: #333;

$shadow-light: 0 2.5px 5px rgba(#333,.2);
$shadow-dark: 0 5px 10px rgba(#333,.3);