.pagination1{
    @include abscenter;
    cursor: pointer;
    justify-content: space-between;
    a{
        width: 30px; height: 30px;
        font-size: 1.6rem;
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        border-radius: 50%;
        @include abscenter;
        margin:5px;
        padding:3px;
        transition: all .2s;
        &:hover{
            background-color: var(--color-primary);
            color: #fff !important;
            .svg{
                fill: #fff;
            }
        }
        &.active{
            background-color: var(--color-primary);
            color: #fff !important;
        }
        .svg{
            width: 100%;
            height: 100%;
            fill: var(--color-primary);
        }
    }
   
}
