.progress-bar{
    width: 40rem;

    @include respond(phone){
        width: 80vw;
    }

    &__text{
        @include abscenter;
        justify-content: space-between;
        margin: 15px 0;

        &__name{
            font-size: 1.6rem;
            letter-spacing: 1.2px;
        }

        &__percentage{
            font-size: 1.8rem;
        }
    }

    &__content{
        width: 100%;
        height:5px;
        border-radius: 10px;
        background-color: transparent;
        box-shadow: 0 5px 10px rgba(black,.2);

        &__top{
            &__percentage{ 
                height: 5px;
                border-radius: 10px;
                padding-top: 2px !important;
                
                transition: all .2s;
                position: relative;
                &__circle{
                    position: absolute;
                    top: 50%; 
                    right: 0;
                    transform: translateY(-50%);
                    height: 16px;
                    width: 16px;
                    border-radius: 100%;
                    background-color: white; 
                    box-shadow: 0 5px 10px rgba(black,.2);
                }
              }
        }
    }
  
}



