.stepper {
	background: #fff;
	border-radius: 10px;
	box-shadow: $shadow-light;
    width: 100%;
	&-header{
		padding: 20px;
		border-bottom: 1px solid 
			#d5d0d0;
		
		& .steps{
			display: flex;
			//column-count: 3;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			& .step{
                width: 100px; 
                text-align: center; 
                border-bottom: 3px solid var(--color-primary); 
                line-height: 0.1em;
                margin: 30px 0; 	
				& span{
					padding: 1rem 1.6rem;
					border: 3px solid var(--color-primary);
                    border-radius: 50%;
                    font-size: 2rem;
                    font-weight: bold;
                    background:#fff;
                    color: var(--color-primary);
					box-shadow: $shadow-light;
				}
			}
			
			& .step.active{
				& span{
					background: var(--color-primary);
					color: white;
					border: 3px solid var(--color-primary);
				}
            }
            & .step.inactive{
				& span{
					background: var(--color-primary);
                    color: $gray-light;
					border: 3px solid var(--color-primary);
				}
			}
		}
	}
	
	&-body{
		padding: 16px;
		min-height: 250px;
		display: flex;
		justify-items: center;
		align-items: center;
		& .tabs
		{
				width: 100%;
				height: 100%;
				justify-content: center;
				display: flex;
                align-items: center;
                background-color: var(--color-primary);
				border-radius: 10px;
				padding: 15px;
				label{
					color: #fff !important;
				}            
			& .tab{
                    width: 80%;
					display: none;
					@include respond(tab-port){
						width: 100%;
					}
			}
			
			& .tab.active{
				display: block !important;
			}
		}
	}
	
	&-footer{
		padding: 16px;
		border-top: 1px solid  #d5d0d0;
        @include abscenter;
	}
}

