

table{
    font-size: 1.6rem;
    background-color: #fff !important;
    cursor: pointer;
    
    thead{
        background-color: var(--color-primary);
        color: #fff;
    }
    tbody{
        tr{
            td{
                a{
                    text-decoration: none;
                    color: $gray;
                    &:hover{
                        text-decoration: none;
                        color: $gray-dark;
                    }
                }
            }
        }
    }
    tfoot{
        tr.total{
            background-color: rgb(236, 236, 236);
            th{
                font-weight: bold !important;
            }
        }
    }
}