<section class="section-community">
    {% include online-courses-template/global/title.html title=site.data.online-courses-template.home.team.title subtitle=site.data.online-courses-template.home.team.subtitle %}

    <div class="section-community__content">
        {% assign image-directory= site.data.online-courses-template.global.site.directories.images  
            %}
            {% for member in site.data.online-courses-template.home.team.collection %}
                {% include online-courses-template/cards/community-card.html member=member image-directory=image-directory %}
            {% endfor %}
    </div> 
</section>