
@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
    .label-checkbox{
        @include abscenter;
        margin:15px 0;
        flex-wrap: nowrap;
        width: 100%;
        p{
            width: 80%;
            font-size: 1.4rem;
            margin-left: 10px;
            color: grey;
        }
    }

  .option-input {
     margin-right: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    &:hover {
        background: #9faab7;
      }
    &:checked {
        background: var(--color-primary);
      }
  }
  .option-input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '✔';
    font-size: 15px;
    text-align: center;
    line-height: 20px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: var(--color-primary);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }