.sss{
    display: flex;
}
.course-card{
    display: block;
    margin:20px;
    width: 26rem;
    height: max-content;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 10px rgba(black,.3);
    text-decoration: none !important;
    cursor: pointer;
    transition: all .2s;
    &:hover{
        transform: scale(0.95);
        box-shadow: 0 2.5px 5px rgba(black,.15);
    }

    &__image{
        overflow: hidden;
        @include abscenter;    
        width: 100%;
        height: 18rem;
        border-radius: 10px 10px 0 0;
        img{
            width: 100%;
            height: auto;
            object-fit: contain; /* Fit logo in the image size */
                -o-object-fit: contain; /* Fit logo fro opera browser */
            object-position: top; /* Set logo position */
                -o-object-position: top; /* Logo position for opera browser */
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-top: 2px;
        

        color: #333;
        .title{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 25px;
        }
        .owner{
            margin: 5px 0;
            font-size: 1.3rem;
            color: grey;
        }
        .stars{
            width: max-content;
            align-self: flex-end;
        }
        .completed-container{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .percentage{
                font-size: 1.4rem;
            }
            .loader{
                margin-top: 5px;
                width: 100%;
                height: 6px;
                background-color: $gray-light;
                position: relative;
                .current-loader{
                    position: absolute;
                    top: 0; left: 0;
                    height: 100%;
                    background-color: var(--color-primary);
                }
            }
        }
        .price{
            display: flex;
            width: max-content;
            align-self: flex-end;
            padding:10px 0;
            font-size: 2rem;
            color: var(--color-primary);

            & > *{
                margin: 0 5px;
            }
            .old-price{
                font-size: 1.4rem;
                text-decoration-line: line-through;
            }
        }
    }
}