.course-questions{
    margin:30px;
    padding:20px;
    border-radius: 5px;
    border: 1px solid $gray-light;
    @include abscenter;
    flex-wrap: nowrap;
    .image-side{
        width: 90px;
        padding: 15px;
        .img-container {
            box-shadow: 0 2.5px 5px rgba(black,.2);
            position: relative;
            width: 55px;
            height: 55px;
            overflow: hidden;
            border-radius: 50%;
            background-color: #fff;
        
            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .content-side{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > *{
            padding: 5px 0;
        }
        .question{
            font-size: 1.6rem;
            font-weight: bold;     
        }
        .answer{
            font-size: 1.4rem;
        }
        .circle-btn{
            align-self: flex-end;
        }
    }
   
}

