.empty-message{
    width: max-content;
    max-width: 100%;
    @include abscenter;
    @include respond(tab-port){
        flex-direction: column;
    }
    margin: 8rem auto;
    .icon{
        width: 120px;
        height: 120px;
        fill: $gray-light;
        margin: 10px 0;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 20px;
        @include respond(tab-port){
            align-items: center;
            text-align: center;
        }
        p{
            font-size: 3rem;
            color: $gray-light;
            font-weight: bolder;
            
        }
        .btn{
            margin-left: 20px;
            width: max-content;
        }
    }
    
}