.warning-info{
    background-color: $gray-light;
    
    color: $gray-dark;
    border-radius: 10px;
    line-height: 25px;
    font-size: 1.6rem;
    @include abscenter;
    @include respond(phone){
        flex-direction: column;
    }
    .icon{
            height: 20px;
            width: 20px;
            fill: $gray-dark;
            margin: 20px;
    }
    p{
        padding:20px;
        width: 90%;
    }
}