.numbers-stripe{
    height: max-content;
    background-color: #fff;
    padding: 40px 10px;
    @include abscenter;
    justify-content: space-around;
    box-shadow: 0 2.5px 5px rgba(black,.2);
    .number-box{
        margin: 20px;
        @include abscenter;
        cursor: pointer;
        flex-direction: column;
        border-radius: 8px;
        padding: 15px;
        transition: all .2s;
        &:hover{
            box-shadow: 0 2.5px 5px rgba(black,.2);
        }
        .number{
            font-size: 4.8rem;
            font-weight: bold;
            color: transparent;
            background: -moz-linear-gradient(45deg, var(--color-primary-light) 0%, var(--color-primary) 100%);
            background-clip: text;
            background: -webkit-linear-gradient(var(--color-primary-light), var(--color-primary));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .text{
            font-size: 2rem;
            font-weight: bold;
            color: var(--color-primary)
        }
    }
}