<div class="footer__wave " style="height: 150px; overflow: hidden;" ><svg class="footer__svg-info" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;"></path></svg></div>
<div class="footer">
    
        <div class="footer__container">
            <div class="footer-col">
                <div class="footer-col__logo">
                    {% assign logo-path='/1-corporate-template/assets/images' | relative_url %}
                    <img src="{{logo-path}}/{{site.data.corporate-template.footer.logo}}" alt="logo">
                </div>
                <div class="footer-col__description">{{site.data.corporate-template.footer.description}}</div>
                
            </div>
            <div class="footer-col">
                <div class="footer-col__title">
                   {{site.data.corporate-template.footer.info-title}}
                </div>
                {% assign svg-directory={{site.data.corporate-template.global.assets.svg-icon-directory | relative_url | append: "#"}}
                    %}
                <div class="footer-col__item">
                    <div class="footer-col__item__svg">
                        {% include global/svg.html directory=svg-directory image='icon-location' class='footer__svg-info' %}
                    </div>
                    <div class="footer-col__item__text">{{site.data.corporate-template.footer.direction}}</div>
                </div>
                <div class="footer-col__item">
                    <div class="footer-col__item__svg">
                        {% include global/svg.html directory=svg-directory image='icon-envelope' class='footer__svg-info' %}
                    </div>
                    <div class="footer-col__item__text">{{site.data.corporate-template.footer.email}}</div>
                </div>
                <div class="footer-col__item">
                    <div class="footer-col__item__svg">
                        {% include global/svg.html directory=svg-directory image='icon-mobile' class='footer__svg-info' %}
                    </div>
                    {% for phone in site.data.corporate-template.footer.phones %}
                        <div class="footer-col__item__text">{{phone.number}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer-col">
                {% assign image-directory={{site.data.corporate-template.global.assets.images  | relative_url }}
                    %}
                <div class="footer-col__quotes">
                    {% include global/svg.html directory=svg-directory image='icon-quotes-left' class='footer__svg-quotes' %}
                </div>
                <p class="footer-col__message">{{site.data.corporate-template.footer.member-message}}</p>
                <img class="footer-col__member" src="{{image-directory}}/{{site.data.corporate-template.footer.member-image}}" alt="{{site.data.corporate-template.footer.member-alt}}">
            </div>
        </div>
        <div class="footer__copyright"> {{site.data.corporate-template.footer.copyright}}</div>
</div>

