
<ul
    class="main-nav"
  >
    <a class="main-nav__logo" style="z-index:6;" href="{{site.data.corporate-template.global.baseUrl | prepend: include.url | prepend: site.baseurl }}">
      {% assign image-directory={{site.data.corporate-template.global.assets.images | append: site.data.corporate-template.header.logo | relative_url }}
        %} 
      <img
        class="logo"
        src="{{image-directory}}"
        alt="Logo"
      />
    </a>  
    <div
      class="main-nav__titles"
    >
      {% for section in site.data.corporate-template.header.titles %}
      <li>
        <a href="{{section.url | prepend: include.url | relative_url }}">{{section.title}}</a>
      </li>
      {% endfor %}
    </div> 
  <!--Mobile navbar-->
  <div class="main-nav__hamburger">
    <input type="checkbox" class="toggler">
    <div class="hamburger-container">
      <div class="line"></div>
    </div>
    <div class="menu main-nav__titles">
          <div class="dot-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <ul>
              {% for section in site.data.corporate-template.header.titles %}
              <li class="block">
                <a href="{{section.url | prepend: include.url | relative_url }}">{{section.title}}</a>
              </li>
              {% endfor %}
          </ul>           
    </div>
 </div>
</ul>



 