<div class="team-bg" style="padding-top: 90px;">
    <div class="team-bg__side">
      <div class="team-bg__title">
        <h1>{{ include.service.title }}</h1>
        <div class="team-bg__subtitle">
          <h1>{{ include.service.subtitle }}</h1>
        </div>
      </div>
    </div>
    <div class="team-bg__side">
      <div class="team-bg__side__svg">
        <img
          src="{{site.data.corporate-template.global.assets.images | relative_url}}{{ include.service.img }}"
          alt=""
        />
      </div>
    </div>
  </div>