{% assign svg-directory={{site.data.corporate-template.global.assets.svg-icon-directory | relative_url | append: "#"}} %}
<div class="service row">
    <div class="service__post">
        <div class="service__post__title">{{ include.service.title }}</div>
        <div class="service__post__by">
            <a class="service__post__by__member" href="{{ include.service.href }}" target=”_blank”>{{ include.service.by }}</a>
             {% include global/svg.html directory=svg-directory image='icon-users' class='service__post__by__svg' %}
        </div>      
        <div class="service__post__description service__post__description--1">{{ include.service.description[0].paragraph }}</div>
        <div class="service__post__cite">
                <p>{{ include.service.quote }}</p>
                {% include global/svg.html directory=svg-directory image='icon-quotes-left' class='service__post__cite__quote' %}
        </div>
        {% for paragraph in include.service.description %}
            {% if paragraph != include.service.description[0] %}
            <div class="service__post__description ">{{ paragraph.paragraph }}</div>
            {% endif %}
        {% endfor %}
        <div class="service__post__share">
            <p>{{include.service.share.title}}</p>
                {% for icon in include.service.share.icons %}
                {% include global/svg.html directory=svg-directory image=icon.name class='service__post__share__svg' %}
            {% endfor %}
        </div>
    </div>
    <div class="service__side">
        <div class="service__side__tags">
            <div class="service__side__title">{{include.service.side.tags.title}}</div>
            <div class="service__side__tags__box">
                {% for tag in include.service.side.tags.items %}
                    <div class="tag">{{tag.title}}</div>
                {% endfor %}
            </div>      
        </div>
        <div class="service__side__categories">
            <div class="service__side__title">{{include.service.side.categories.title}}</div>
            {% for cat in include.service.side.categories.tags %}
                <div class="service__side__categories__item">
                    <div class="item">{{cat.title}}</div>
                    <div class="item">{{cat.percentage}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="service__side__members">
            <div class="service__side__title">{{include.service.side.participants.title}}</div>
            {% for member in include.service.side.participants.list %}
                <div class="member-quote">
                    <div class="circle">
                        {% assign image-directory={{site.data.corporate-template.global.assets.images | append: member.img | relative_url }}
                    %}
                        <img src="{{image-directory}}" alt="{{member.name}}">
                    </div>
                    <div class="text">
                        {{member.name}}
                        <div class="text__second">
                           {{member.text}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>