---
layout: corporate-template/corporate
title: Our team | Synplus
page-description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, maiores soluta dolor eius error dicta, architecto porro velit quibusdam animi voluptatum repellendus numquam praesentium possimus nobis, consectetur omnis. Inventore, veniam?
---

<!--Banner-->

{% include corporate-template/sections-banner.html
title=site.data.corporate-template.team.banner.title
background=site.data.corporate-template.team.banner.background
subtitle=site.data.corporate-template.team.banner.subtitle
img=site.data.corporate-template.team.banner.image.img
type=site.data.corporate-template.team.banner.image.type
id=site.data.corporate-template.team.banner.image.id %}

<!--Features-->
{% include corporate-template/team/feature-box.html
features=site.data.corporate-template.team.features %}

<!--Qualities-->
<div class="mt-big">
  {% include corporate-template/team/qualities-box.html %}
</div>

<!--Members-->
  {% include corporate-template/title.html
  title=site.data.corporate-template.team.team-section.title %}
  <div class="abscenter mtb-big">
    {% for member in site.data.corporate-template.team.team-section.members %}
    {% include corporate-template/team/card.html member=member %} {% endfor %}
  </div>
