@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

    .index{
        @include abscenter;
        flex-direction: column;
        width: 100%;
        height: max-content;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
       @include background;
    }
    .index-container{
        @include abscenter;
        
        a{  
            @include abscenter;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 40px;
            letter-spacing: 1.2px;
            text-decoration: none;
            color:rgb(58, 57, 56);
            padding: 10px;
            font-weight: 400;
            box-shadow: $shadow-dark;
            background-color: #fff;
            border-bottom: 3px solid transparent;
            transition: all .2s;
            margin:20px;
            width: 300px;
            height: 280px;
            border-radius: 10px;

            &:hover{
                box-shadow: $shadow-light;
                transform: scale(0.95);
            }

            p{
                font-size: 1.8rem;
                padding: 15px;
            }

            .line{
                width: 25%;
                height: 2px;
                background-color: #BCE7FF;
            }

            .index__image{
                width: 200px;
                height: auto;
            }
        }
    }
  
   
    .index-title{
        letter-spacing: 2px;
        position: relative;
        margin: 5rem 0;
        width: 100%;
        @include abscenter;
        flex-direction: column;
        .title{
            letter-spacing: 3px;
            text-transform: uppercase;
            font-size: 4.5rem;
            z-index: 4;
            color: #BCE7FF;
        }
        .title-shadow{
            color: #fff;
            font-size: 2.5rem;
            z-index: 1;
        }
    }
    