
.circle-animated {
    position: relative;
    width: 24rem;
    height: 24rem;
    z-index:-10;
  }
  
  .circle-animated__one:before {
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    width: 16.8rem;
    height: 2px;
    left: -60%;
    top: 50%;
    transform: rotate(45deg);
    z-index: -8;
  }
  
  .circle-animated__one {
    background: var(--color-primary);
    border-radius: 50%;
    box-shadow: 0px 3px 7px .7px rgba(0, 0, 0, .5);
    box-sizing: content-box;
    height: 7.8rem;
    width: 7.8rem;
    position: absolute;
    top: 35%;
    left: 35%;
  }
  
  .circle-animated__one:after {
    content: "";
    background: var(--color-secondary);
    position: absolute;
    width: 16.8rem;
    height: 2px;
    left: -60%;
    top: 50%;
    transform: rotate(-45deg);
    z-index: -12;
  }
  
  
  
  .circle-animated__two {
    border: 15px solid;
    border-color: var(--color-secondary-light)  transparent var(--color-secondary) transparent;
    border-radius: 50%;
    box-sizing: content-box; 
    height: 9.8rem;
    width: 9.8rem;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: -1;
    animation: circle-move 10s ease infinite;
  }
  
  
  
  .circle-animated__three {
    background: rgba(0,0,0,.017);
    border: 2.5rem solid;
    border-color: var(--color-terciary) transparent var(--color-primary-light) transparent;
    border-radius: 50%;
    box-shadow: 15px 0 25px -20px rgba(0, 0, 0, 0.65);
    box-sizing: content-box; 
    height: 9rem;
    width: 9rem;
    position: absolute;
    top: 22%;
    left: 22%;
    z-index: -2;
    animation: circle-move 14s ease infinite;
  }
  
  .circle-animated__four {
    background: rgba(0,0,0,.012);
    border: 2px solid;
    border-color: var(--color-secondary-light) transparent var(--color-primary-light) transparent;
    border-radius: 50%;
    box-sizing: content-box;
    height: 16.8rem;
    width: 16.8rem;
    position: absolute;
    z-index: -3;
    top: 15%;
    left: 15%;
    animation: circle-move 15s ease infinite;
  }
  
  
  

  