---
layout: index/default
---

<div class="component">
    <div class="component__title">Components</div>
    <div class="component__subtitle"></div>
    {% assign start = 1 %} {% for card in page.collection %}
    <div class="component__subtitle">{{card.title}}</div>
    <p>{{card.description}}</p>
    {% include global/accordion.html start=start icon='icon-dot-single'
    svg-directory=site.data.global.site.directories.svg collection=card.collection
    expanded=false image=false %} {% assign collection-lenght = card.collection |
    size %} {% assign start = start | plus : collection-lenght %} {% endfor %}
</div>