---
layout: index/default
---
{% assign image-directory= site.data.global.site.directories.images  
    %}

<div class="component">
    <div class="component__title">
        {{page.title}}
    </div> 
    <div class="component__subtitle">Description</div>
    <p>{{page.description}}</p>
    <div class="component__subtitle">How to use</div>
    <div class="component__instruction">
        {{page.how-to-use}}
    </div>
    <div class="component__list">
        <div class="component__list__title">
            Parameters
        </div>
        <ul>
            {% for item in page.parameters %}
                <li>{{item.text}}</li>
                <div class="" style="margin-left: 10px;">
                    {% for i in item.collection %}
                        <p>{{i}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </ul>
    </div>
    {% if page.image %}
        <div class="component__subtitle">How it looks like</div>
        <div class="image">
            {% for img in page.image %}
                <img src="{{image-directory | append: img | relative_url}}" alt="{{page.title}}">
            {% endfor %}
        </div>
    {% endif %}
</div>

