
.btn-cont{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}
.btn {
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 10px;
    width: auto;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover { 
      text-decoration: none; 
      letter-spacing: 1px;
    
      rect {
        stroke-width: 5;
        stroke-dasharray: 15, 310;
        stroke-dashoffset: 48;
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
}
.btn-1 {
    color: white !important;
    background:var(--color-primary) !important;
    font-weight: 900;
    
    
    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0; 
      width: 100%; 
    }
    
    rect {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }
  .btn-2 {
    background: transparent !important;
    font-weight: 900;
    color:var(--color-primary) !important;
  
    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0; 
      width: 100%; 
    }
    
    rect {
      fill: none;
      stroke: var(--color-primary);
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }


