.composition {
  position: relative;
  height: max-content;
  @include respond(phone){
    @include abscenter;
    flex-direction: column;
    margin: 20px;
  }
  &__photo {
    height: 180px;
    box-shadow: 0 15px 40px rgba(black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 10px;

    @include respond(phone) {
      position: relative;
      width: 80%;
      height: auto;
      margin: 20px 0;
      top: 0 !important;
      left: 0 !important;
      transform: translate(0) !important;
    }

    &:first-child {
      left: 25%;
      top: 150px;
      transform: translate(-25%, -25%);
    }
    &:last-child {
      top: 100px;
      left: 50%;
      transform: translate(-25%, -25%);
    }

    &:hover {
      outline: 7.5px solid var(--color-primary);
      box-shadow: 0 25px 4px rgba(black, 0.5);
      z-index: 11;
    }
  }
  &:hover .composition__photo:not(:hover) {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    filter: grayscale(1);
  }
}
