.cart-container{
    width: 90%;
    min-height: 400px;
    border: 1px solid $gray;
    border-radius: 10px;
    margin: 5rem auto;
    box-shadow: 0 2.5px 5px rgba(black,.2);
    padding:15px;
    @include respond(phone){
        width: 100%;
    }
    .cart-lenght{
        color: $gray;
        font-size: 2rem;
        margin: 20px;
        
    }
    .cart-content{
        @include abscenter;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
        .cards{
            @include abscenter;
            .card-cont{
                width: max-content;
            }
        }
    }
}

.cart-price{
    @include abscenter;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 5px 10px rgba(black,.2);
    border-radius:5px;
    padding: 10px;
    color:  $gray;
    @include respond(phone){
        max-width: 100%;
    }
    &>*{
        margin: 5px 0;
    }
    .title{
        align-self: flex-start;
        font-size: 2rem;
    }
    .total-price{
        width: 90%;
        font-size: 3.8rem;
        font-weight: 600;
    }  
    .total-price--small{
        width: 90%;
        font-size: 1.6rem;
        &.total-old-price{
            text-decoration-line: line-through;
        }
    }        
}