.footer{
    margin-top: auto;
    width: 100%;
    position: absolute;
    left: 0;
    //top: 100%;
    background-color: rgb(228, 228, 228);//var(--color-primary-dark);
    padding: 10px 5%;
    @include abscenter;
    justify-content: space-around;
    &__logo{
        align-self: flex-start;
        height: 100px;
        width: max-content;

        img{
            height: 100%;
            width: auto;
        }
    }

    &__links{
        @include abscenter;
        align-items: flex-start;
       li{
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           margin: 20px;
           max-height: 200px;
           a{
               text-decoration: none;
               color: grey;
               font-size: 1.6rem;
               padding:10px ;
               margin: 0 30px;
               border-bottom: 3px solid transparent;
                transition: all .2s;
               &:hover{
                   color: #333;
                border-bottom: 3px solid var(--color-primary);
               }
           }
       }
    }

    &__box{
        display: flex;
        flex-direction: column;

        .social-media{
            @include abscenter;
            a {
                .icon{
                    cursor: pointer;
                    height: 25px; width: 25px;
                    fill: var(--color-primary);
                    margin: 0 10px;
                    transition: all .2s;
                    &:hover{
                        transform: scale(1.1);
                    }
                 }
            }
        }
    }


    &__copyright{
        width: 100vw;
        border-top: 0.1px solid rgb(153, 153, 153);
        @include abscenter;
        font-size: 1.6rem;
        color: grey;
        padding: 20px 0;
    }
}




  // Selector


  .custom-select {
    position: relative;
    font-size: 1.6rem;
    width: max-content;
    min-width: 200px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: var(--color-primary);
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: var(--color-primary);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }