
.section-features{
    height: max-content;
    padding: 15px;
    width: 100%;
    background-image: linear-gradient(to right, var(--color-primary), #16215a);
    @include abscenter;
    justify-content: space-around;
    .feature-box{
        @include abscenter;
        margin: 10px 0;
        .icon{
            height: 70px; width: 70px;
            fill:  #fff;
            margin: 0 15px;
        }
        .text{
            text-align: center;
            width: 130px;
            color: #fff;
            font-size: 1.4rem;
            letter-spacing: 1.2px;
        }
    }
}


.section-us{
    @include abscenter;
    margin-bottom: 100px;
     & > *{
        margin: 100px 0;
     }

    &__images{
       width: 50%;
        @include respond(tab-port){
            width: 100%;
        }
        .image-container{
           width: max-content;
           height: max-content;
           position: relative;
            .image{
                box-shadow: 0 5px 10px rgba(black,.2);
                height: 30rem;
                width: auto;
                margin: 0 auto;
            
             }
            .image-small{
                    box-shadow: 0 5px 10px rgba(black,.2);
                    position: absolute;
                    right: -20%;
                    bottom: -60%;
                    transform: translateY(-50%) rotate(10deg);
                    height: 18rem;
                    width: auto;
                    @include respond(tab-land){
                        bottom: -70%;
                    }
                
            }
        }
        
    }
    &__text{
        padding-left: 25px;
        @include respond(tab-port){
            margin-top:100px;
        }
        .text-box{
            display: flex;
            flex-direction: column;
            .text{
                font-size: 1.6rem;
                letter-spacing: 1.2px;
                margin: 15px 0;
            }
            .line{
                width: 100px;
                height: 2px;
                background-color: var(--color-primary);
            }
           
        }
        .button{
            width: max-content;
            margin-left: auto;
        }
    }
}

.section-contact{
    height: max-content;
    padding: 10% 5%;
    background-image: linear-gradient(to right, var(--color-primary), #16215a);
    @include abscenter;
    @include respond(tab-port){

    }
    & > *{
        width: 50%;
        @include abscenter;

        @include respond(tab-port){
            width: 90%;
            
        }
    }
    .text-side{
        
        align-items: flex-start;
        flex-direction: column;
        color: #fff;
        margin:15px 0;
        @include respond(tab-port){
            align-items: center;
            text-align: center;
        }
        & > *{
            margin:10px 0;
        }
        .title{
            font-size: 4.5rem;
        }
        .subtitle{
            font-size: 2.8rem;
        }
    }
}



.section-community{
    padding: 5%;
    &__title{
        font-size: 2.5rem;
        color: grey;
        font-weight: 300;
        @include abscenter;
        flex-direction: column;
        margin-bottom: 20px;    
        & > *{
            text-align: center;
            margin: 15px;
        }
        .line{
            width: 150px;
            height: 2px;
            background-color: var(--color-primary);
        }
        p{
            font-size: 2rem;
        }
    }
   
    &__content{
        @include abscenter;
    }
}