.instructor-courses{
    margin-left: 65px;
    @include abscenter;
    flex-direction: column;

    &__inline{
        width: 100%;
        height: max-content;
        @include abscenter;
        align-items: flex-start;
        & > *{
            margin: 15px;
        }
        .instructor-courses-image{
            max-width: 50rem;
            margin-top: 30px;
            img{
              width: 100%;
              height: auto;
          }
        }
        .instructor-courses-table{
            @include abscenter;
            flex-direction: column;
            max-width: 100%;
        }
    }

    .edit-course{
      @include abscenter;
      flex-direction: column;
      display: none;
      width: 90%;

      .course-title{
        font-size: 4rem;
        color: $gray;
        margin: 30px 0;
        text-align: center;
        @include respond(tab-port){
          font-size: 2rem;
        }
      }

      .instructor-courses-table-edit{
        
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(black,.2);
        height: 300px;
        width: 100%;
        margin: 50px 0;
      }
    }
}
