.instructor-courses{
    margin:50px 0;
    margin-left: 6.5rem;
    @include abscenter;
    flex-direction: column;
    @include respond(tab-port){
      margin-left: 5rem !important;
    }

    &__img{
      height: auto;
      width: 150px;
    }
}


.edit-course{
  @include abscenter;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  .plane-link{
    align-self: flex-start;
  }
  .title-container{
    h1{
      @include respond(tab-port){
        font-size: 3rem;
      }
    }
  }
  .course-title{
    font-size: 4rem;
    color: $gray;
    margin: 30px 0;
    text-align: center;
    @include respond(tab-port){
      font-size: 2rem;
    }
  }
  &__content{
      @include abscenter;
      flex-direction: column;
    &__inline{
        @include abscenter;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        @include respond(tab-land){
          flex-wrap: wrap;
        }
        &>*{
          margin: 10px;
        }
          .image{
            @include abscenter;
            width: 50rem;
            max-width: 90% !important;
            max-height: auto;
            img{
              width: 100% !important;
              height: auto;
              object-fit: contain; 
              -o-object-fit: contain;
          }
        }

        .students-table{
          @include abscenter;
          flex-direction: column;
          max-width: 100%;
        }
    }
  }
  .instructor-courses-table-edit{
    
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(black,.2);
    height: 300px;
    width: 100%;
    margin: 50px 0;
  }
}


.instructor-welcome{
  @include abscenter;
  flex-direction: column;
  margin-left: 6.5rem;
  @include respond(tab-port){
      margin-left: 5rem;
  }
  .content{
      @include abscenter;
      img{
        width: 600px;
        height: auto;
        max-width: 90% !important;
    }

  }
  .title{
      color: $gray;
      font-size: 3rem;
      text-align: center;
      padding: 0 10px;
  }
  
}

.create-course-basic-info{
  display: flex !important;
  flex-direction: row !important;
  @include abscenter;
  align-items: flex-start !important;
  & > *{
    @include abscenter;
    @include respond(phone){
      width: 100% !important;
    }
  }
  .left-side{
    width: 70%;
  }
  .right-side{
    width: 30%;
  }
  @include respond(phone){
    flex-direction: column !important;
    align-items: center !important;
  }
}