.profile{
    @include abscenter;
    flex-direction: column;
}

.profile-general-info{
        @include abscenter;
        flex-direction: column;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%,50%);

        .img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;   
            overflow: hidden;
            cursor: pointer;
            @include abscenter;
            img{
                border-radius: 50%;
                height: 100%;
                width: auto;
                background-color: #333;
                z-index: 1;
                transition: all .2s;      
            }
            .file{
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
                width: 150px;  height: 150px;
                border-radius: 50%;
                @include abscenter;
                z-index: 2;

                .icon{
                    height: 40px;
                    width: 40px;
                    fill: $gray-dark;
                    transform: scale(0);
                    transition: all .2s;
                }
            }   
            &:hover{
                img{
                   filter: blur(3px) grayscale(1);
                }  
                .icon{
                    transform: scale(1);
                }         
            }
        }
        
        .name{
            margin: 20px 0;
            font-size: 1.6rem;
            color: $gray;
        }
    
}





.public-profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 20%;
    transform: translate(-50%,50%);
    img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    @include respond(tab-port){
        left: 50%;
    }
}

.public-profile{
    @include abscenter;
    flex-direction: column;
    color: $gray-dark;
    position: relative;
    @include respond(tab-port){
        margin-top: 100px !important;
    }
    &>*{
        margin:5px;
    }
    &__title{
        letter-spacing: 1.4px;
        font-size: 2.8rem;
    }
    &__subtitle{
        letter-spacing: 1.4px;
        font-size: 1.8rem;
        font-weight: lighter;
    }
    .description{
        margin:30px 0;
        @include abscenter;
        justify-content: space-evenly;
        font-size: 1.8rem;
        width: 90%;
        & > *{
            width: 45%;
        }

      
    }
}

.social-media-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999999;

    .icon-cont{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        margin-right: 10px;
        .icon{
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            width: 25px;
            height: 25px;
            fill:var(--color-primary);
           // margin: 10px;
        }
    }
   
    a{
        @include abscenter;
        justify-content: flex-start;
        text-decoration: none;
        color: $gray-dark; 
        font-size: 1.6rem;
        margin:10px 0;
        &:hover{
            .text{
                transform: scale(1);
            }
        }
    }
    .text{
        transform: scale(0);
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 5px 10px rgba(black,.2);
        padding: 10px;
        transition: all .2s;
    }
}