---
layout: culinary-blog-template/culinary-blog-default
---
{% assign image-directory=
    site.data.culinary-blog-template.global.site.directories.images %} 
{% assign home = site.data.culinary-blog-template.home %}
{% include culinary-blog-template/home/banner.html image-directory=image-directory title=home.banner.title background=home.banner.background %}
{% include culinary-blog-template/home/features.html image-directory=image-directory features=home.features.collection background=home.features.background %}
{% include culinary-blog-template/home/gallery.html image-directory=image-directory collection=home.gallery %}
{% include culinary-blog-template/home/top-section.html %}
{% include culinary-blog-template/home/newsletter.html image-directory=image-directory background=home.newsletter.background form=home.newsletter.form %}
