.ma-center{
    margin: 0 auto;
}
.u-center-text{
    text-align: center !important;
}
.u-justify-text{
    text-align: justify !important;
}
.mb-small{
    margin-bottom: 7.5px !important;
}
.mt-small{
    margin-top: 7.5px !important;
}
.mt-medium{
    margin-top: 15px !important;
}
.mb-medium{
    margin-bottom: 15px !important;
}
.mtb-medium{
    margin: 15px 0 !important;
}
.mt-big{
    margin-top: 50px !important;   
}
.mb-big{
    margin-bottom: 50px !important;
}
.mtb-big{
    margin: 50px 0 !important;
}
.mt-bigger{
    margin-top: 100px !important;   
}
.mb-bigger{
    margin-bottom: 100px !important;   
}
.mtb-bigger{
    margin: 100px 0 !important;   
}
.mtb-auto-bigger{
    margin: 100px auto !important;   
}
.mt-neg-bigger{
    margin-top: -100px !important;   
}

.mr-auto{
    margin-right: auto !important;
}
.pb-big{
    padding-bottom: 50px !important;   
}
.ptb-big{
    padding: 50px 0 !important; 
}
.abscenter{
    @include abscenter;
}
.no-wrap{
    flex-wrap: nowrap;
}
.align-start{
    align-items: flex-start;
}
.column-on-tab-port{
    @include respond(tab-port){
        flex-direction: column;
    }
}

.hide{
    display: none;
	opacity: 0;
}