.u-center-text{
    text-align: center !important;
}
.u-justify-text{
    text-align: justify !important;
}
.mb-small{
    margin-bottom: 7.5px !important;
}
.mt-small{
    margin-top: 7.5px !important;
}
.mt-medium{
    margin-top: 15px !important;
}
.mb-medium{
    margin-bottom: 15px !important;
}
.mtb-medium{
    margin: 15px 0 !important;
}
.mt-big{
    margin-top: 50px !important;   
}
.mb-big{
    margin-bottom: 50px !important;
}
.mtb-big{
    margin: 50px 0 !important;
}
.mt-bigger{
    margin-top: 100px !important;   
}

.mtb-bigger{
    margin: 100px 0 !important;   
}
.mt-neg-bigger{
    margin-top: -100px !important;   
}

.mr-auto{
    margin-right: auto !important;
}

.abscenter{
    @include abscenter;
}

.hide{
    display: none;
	opacity: 0;
}