@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
.heading { text-transform: uppercase; padding-bottom: 10px; border-bottom: 1px solid var(--color-terciary); }

.u-center-text { text-align: center !important; }

.u-justify-text { text-align: justify !important; }

.mb-small { margin-bottom: 7.5px !important; }

.mt-small { margin-top: 7.5px !important; }

.mt-medium { margin-top: 15px !important; }

.mb-medium { margin-bottom: 15px !important; }

.mtb-medium { margin: 15px 0 !important; }

.mt-big { margin-top: 50px !important; }

.mb-big { margin-bottom: 50px !important; }

.mtb-big { margin: 50px 0 !important; }

.mt-bigger { margin-top: 100px !important; }

.mtb-bigger { margin: 100px 0 !important; }

.mt-neg-bigger { margin-top: -100px !important; }

.abscenter { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }

.hide { display: none; opacity: 0; }

@keyframes fadenext { 0% { opacity: 0; transform: translateX(-500px); }
  100% { opacity: 1; transform: translateX(0); } }
@keyframes fadeprev { 0% { opacity: 0; transform: translateX(500px); }
  100% { opacity: 1; transform: translateX(0); } }
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes fadeInRight { from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@keyframes fadeInRight { from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

@-webkit-keyframes fadeInLeft { from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@keyframes fadeInLeft { from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }

@keyframes percentage { from { width: 0; }
  to { width: 100%; } }
*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; font-family: 'Lato', sans-serif; }

html { /* font-size: 10px; /* 1 rem is exactly 10 px now*/ font-size: 62.5%; /* 10px / 16px */ }
@media only screen and (max-width: 75em) { html { font-size: 56.25%; } }
@media only screen and (max-width: 56.25em) { html { font-size: 50%; } }
@media only screen and (min-width: 112.5em) { html { font-size: 75%; } }

.row { margin: 0 auto; width: 90%; }

section:focus { outline: none; }

.line { width: 100px; height: 2.5px; background-color: var(--color-primary); }

.main-nav { position: fixed; z-index: 44; display: flex; justify-content: flex-end; align-items: center; background-color: white; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); padding: 0 3rem; width: 100%; height: 70px; }
.main-nav__logo { margin-right: auto; }
.main-nav__logo img { height: 8rem; width: auto; margin-left: 2rem; z-index: 6; cursor: pointer; }
.main-nav__hamburger { width: 40px; height: 40px; border-radius: 5px; z-index: 1; position: relative; cursor: pointer; transition: all .4s ease; display: none; }
@media only screen and (max-width: 56.25em) { .main-nav__hamburger { display: block; } }
.main-nav__hamburger:hover { background-color: var(--color-secondary-light); }
.main-nav__hamburger:hover .hamburger-container .line, .main-nav__hamburger:hover .hamburger-container .line::after, .main-nav__hamburger:hover .hamburger-container .line::before { background-color: white; }
.main-nav__hamburger .toggler { position: absolute; top: 0; left: 0; width: 40px; height: 40px; z-index: 2; opacity: 0; }
.main-nav__hamburger .toggler:checked ~ .menu { visibility: visible; transform: translateX(0); }
.main-nav__hamburger .toggler:checked + .hamburger-container .line { transform: rotate(135deg); }
.main-nav__hamburger .toggler:checked + .hamburger-container .line::before, .main-nav__hamburger .toggler:checked + .hamburger-container .line::after { top: 0; transform: rotate(90deg); }
.main-nav__hamburger .toggler:checked:hover + .hamburger-container .line { transform: rotate(225deg); }
.main-nav__hamburger .menu { visibility: hidden; background-color: #fff; transform: translateX(100%); z-index: 2; position: fixed; top: 70px; right: 0; width: 25%; height: 100%; overflow: hidden; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; justify-content: flex-start; transition: all .2s; }
@media only screen and (max-width: 56.25em) { .main-nav__hamburger .menu { width: 100%; } }
.main-nav__hamburger .menu .dot-container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 20px 0; }
.main-nav__hamburger .menu .dot-container .dot { margin: 10px; height: 10px; width: 10px; background-color: var(--color-secondary); border-radius: 100%; }
.main-nav__hamburger .menu ul { list-style: none; text-align: center; }
.main-nav__hamburger .menu ul li { justify-self: flex-start; margin-right: 0; margin-top: 40px; }
.main-nav__hamburger .menu ul li a { visibility: visible !important; font-size: 2rem; }
.main-nav__hamburger .hamburger-container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.main-nav__hamburger .hamburger-container .line { height: 3.5px; width: 25px; border-radius: 2.5px; background-color: var(--color-secondary); transition: all .4s; }
.main-nav__hamburger .hamburger-container .line::before, .main-nav__hamburger .hamburger-container .line::after { content: ''; position: absolute; top: -8px; width: 25px; border-radius: 2.5px; background-color: var(--color-secondary); height: 3.8px !important; transition: all .4s; }
.main-nav__hamburger .hamburger-container .line::after { top: 8px; }
.main-nav__titles { list-style: none; display: flex; align-items: center; }
.main-nav__titles .block { display: block !important; }
.main-nav__titles li { justify-self: flex-end; margin-right: 4rem; z-index: 6 !important; }
@media only screen and (max-width: 56.25em) { .main-nav__titles li { display: none; } }
.main-nav__titles li a:link, .main-nav__titles li a:visited { padding: 8px; color: var(--color-secondary); letter-spacing: 2px; text-decoration: none; border-radius: 10px; font-size: 1.5rem; -webkit-transition: all 0.2s; transition: all 0.2s; }
@media only screen and (max-width: 56.25em) { .main-nav__titles li a:link, .main-nav__titles li a:visited { visibility: hidden; } }
.main-nav__titles li a:hover, .main-nav__titles li a:active { box-shadow: 0 5px 10px rgba(48, 11, 48, 0.2); }

.banner-container { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; width: 90%; margin: 0 auto; padding-top: 100px; }
@media only screen and (max-width: 75em) { .banner-container { padding-top: 180px; flex-direction: column; } }
.banner-container__svg { width: 60rem; height: 60rem; position: relative; }
@media only screen and (max-width: 37.5em) { .banner-container__svg { width: 30rem; height: 30rem; } }
.banner-container__svg .home-svg { position: absolute; width: 50rem; height: 50rem; top: 50%; left: 50%; transform: translate(-50%, -50%); }
@media only screen and (max-width: 37.5em) { .banner-container__svg .home-svg { width: 20rem; height: 20rem; } }

.header { position: relative; height: auto; background-size: cover; background-position: bottom; background-attachment: fixed; padding-bottom: 50px; /*&:before { content: ""; width: 50%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(black,.1); z-index: 1; visibility: visible; @include respond(tab-port) { visibility: hidden; } } */ }
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) { .header { -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); } }
.header__title { display: flex; flex-direction: column; z-index: 5; width: 45%; }
@media only screen and (max-width: 75em) { .header__title { text-align: center; width: 70%; } }
@media only screen and (max-width: 56.25em) { .header__title { width: 90%; padding: 15px; } }
@media only screen and (max-width: 37.5em) { .header__title { top: 25%; } }
@media only screen and (max-width: 75em) { .header__title .line { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; align-self: center; text-align: center; } }
.header__title-description { text-align: justify; color: var(--color-secondary); }

.footer { background-color: var(--color-secondary); padding-bottom: 40px; height: auto; margin: 0 auto; margin-top: auto; }
.footer__container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; align-items: flex-start !important; padding: 0 10%; }
.footer__wave { background-color: var(--color-secondary); }
.footer__copyright { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; font-family: 16px; font-size: 1.5rem; font-weight: 200; color: white; margin: 0 auto; margin-top: 40px; text-align: center !important; }
.footer__svg-info { fill: white; height: 100%; width: 100%; }
.footer__svg-quotes { fill: #58587a; height: 100%; width: 100%; }

.footer-col { margin-top: 20px; display: flex; width: 300px; flex-direction: column; }
.footer-col > * { margin-right: 40px; }
.footer-col__quotes { height: 50px; width: 50px; }
.footer-col__message { color: white; font-weight: 200; font-size: 1.35rem; text-align: end; transform: translateY(-20px); }
.footer-col__member { border-radius: 100%; height: 50px; width: 50px; transform: translateY(-20px); margin-left: 50px; cursor: pointer; transition: all .2s; }
.footer-col__member:hover { filter: opacity(0.6); }
.footer-col__title { color: white; letter-spacing: 2px; font-weight: 600; font-size: 1.6rem; align-self: center; }
.footer-col__logo { height: 60px; width: auto; }
.footer-col__logo img { height: 100%; }
.footer-col__description { color: white; font-weight: 100; text-align: justify; font-size: 1.4rem; line-height: 200%; }
.footer-col__item { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 15px; }
.footer-col__item__svg { height: 18px; width: 18px; width: 25%; }
.footer-col__item__text { color: white; font-weight: 100; font-size: 1.5rem; width: 75%; }

.navigation__checkbox { display: none; }
.navigation__button { background-color: white; height: 50px; width: 50px; border-radius: 50%; position: fixed; top: 40px; right: 40px; text-align: center; cursor: pointer; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }
.navigation__icon { position: relative; margin-top: 25px; }
.navigation__icon { width: 25px; height: 3px; background-color: black; display: inline-block; }
.navigation__icon::before, .navigation__icon::after { width: 25px; height: 2.5px; background-color: black; display: inline-block; }
.navigation__icon::before, .navigation__icon::after { content: ""; position: absolute; left: 0; transition: all .2s; }
.navigation__icon::before { top: -8px; }
.navigation__icon::after { top: 8px; }
.navigation__button:hover .navigation__icon::before { top: 10px; }
.navigation__button:hover .navigation__icon::after { top: -10px; }
.navigation__checkbox:checked + .navigation__button .navigation__icon { background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before { top: 0; transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after { top: 0; transform: rotate(-135deg); }

#slider-container { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }

.slide { width: 1000px; height: 100%; align-items: center; justify-content: center; }

.slide-container { display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; width: 100%; height: 100%; }

.slider-arrow { font-size: 50px; cursor: pointer; transition: all .2s ease-in; }
.slider-arrow:hover { transform: scale(0.8); }

#dots-wrapper { display: flex; margin: 0 auto; margin-top: 30px; align-items: center; justify-content: center; }

.dot-nav { width: 15px; height: 15px; border-radius: 100%; cursor: pointer; margin: 0 8px; border: 2px solid #d6d6d6; }
.dot-nav:hover { background-color: #d6d6d6; }

.active-dot { background-color: #d6d6d6; }

.row { width: 90%; margin: 0 auto; }

.btn-text { align-self: flex-end; margin-top: auto; }
.btn-text:link, .btn-text:visited { font-size: 16px; color: var(--color-primary); display: inline-block; text-decoration: none; border-bottom: 1px solid var(--color-primary); padding: 6px; transition: all .2s; }
.btn-text:hover { background-color: var(--color-primary); color: white; box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); transform: translateY(-2px); }
.btn-text:active { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); transform: translateY(0); }

.progress-bar { width: 40rem; }
@media only screen and (max-width: 37.5em) { .progress-bar { width: 80vw; } }
.progress-bar__text { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; justify-content: space-between; margin: 15px 0; }
.progress-bar__text__name { font-size: 1.6rem; letter-spacing: 1.2px; }
.progress-bar__text__percentage { font-size: 1.8rem; }
.progress-bar__content { width: 100%; height: 5px; border-radius: 10px; background-color: transparent; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.progress-bar__content__top .percentage { height: 5px; border-radius: 10px; padding-top: 2px !important; animation-name: percentage; animation-duration: 5s; transition: all .2s; position: relative; }
.progress-bar__content__top .percentage__circle { position: absolute; top: 50%; right: 0; transform: translateY(-50%); height: 16px; width: 16px; border-radius: 100%; background-color: white; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

@keyframes from0to360 { from { transform: rotate(0); }
  to { transform: rotate(360deg); } }
#Circle1 { animation: from0to360 1s linear infinite; cx: 150; cy: 145; r: 100; transform-origin: 145px 150px; }

@keyframes from360to0 { from { transform: rotate(360deg); }
  to { transform: rotate(0deg); } }
#Circle2 { animation: from360to0 2s linear infinite; cx: 150; cy: 155; r: 100; transform-origin: 155px 150px; }

#Circle3 { animation: from0to360 3s linear infinite; cx: 145; cy: 150; r: 100; transform-origin: 150px 145px; }

#Circle4 { animation: from360to0 2.5s linear infinite; cx: 155; cy: 150; r: 100; transform-origin: 150px 155px; }

.start-container { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; padding: 10px; font-size: 1.2rem; color: var(--color-secondary); }
.start-container .star-svg { margin: 0 5px; padding-top: auto; height: 20px; width: 20px; fill: #ffd82b; }
