<div class="card-fields-section mtb-bigger">
    <div class="links">
        {% for link in include.sections %}
            <div class="link {% if forloop.index == 1 %} link-active {% endif %}" id={{forloop.index}}>{{link.title}}</div> 
        {% endfor %}
    </div>
    {% for link in include.sections %}
        <div class="content {% if forloop.index == 1 %} active-content {% endif %}" id={{forloop.index}}>
            {% if link.one-side %}
                <div class="fields">
                    {% assign inputs = include.sections[forloop.index0].one-side %} 
                    {% include online-courses-template/global/fields.html inputs=inputs %}
                </div>
            {% endif %}
            <div class="fields"> 
                {% assign inputs = include.sections[forloop.index0].left-fields %}
                {% if inputs %}
                    <div class="left-side">
                        {% include online-courses-template/global/fields.html inputs=inputs %}
                    </div>
                {% endif %}
                {% assign inputs = include.sections[forloop.index0].right-fields %}
                {% if inputs %}    
                    <div class="right-side">
                        {% include online-courses-template/global/fields.html inputs=inputs %}
                    </div>
                {% endif %}
                {% assign inputs = include.sections[forloop.index0].left-fields-big %}
                {% if inputs %}
                    <div class="left-side-big">
                        {% include online-courses-template/global/fields.html inputs=inputs %}
                    </div>
                {% endif %}
                {% assign inputs = include.sections[forloop.index0].left-fields-small %}
                {% if inputs %}
                    <div class="left-side-small">
                        {% include online-courses-template/global/fields.html inputs=inputs %}
                    </div>
                {% endif %}
                {% assign inputs = include.sections[forloop.index0].right-fields-big %}
                {% if inputs %}
                    <div class="right-side-big">
                        {% include online-courses-template/global/fields.html inputs=inputs %}
                    </div>
                {% endif %}
                {% assign inputs = include.sections[forloop.index0].right-fields-small %}
                {% if inputs %}
                    <div class="right-side-small">
                        {% include online-courses-template/global/fields.html inputs=inputs %}
                    </div>
                {% endif %}
            </div>
            <div class="btn-content">
                {% assign buttons= include.sections[forloop.index0].btn %}  
                {% for btn in buttons %}
                    {% include online-courses-template/global/button.html btn=btn %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>