---
layout: online-courses-template/instructor-dash
---
{% assign image-directory= site.data.online-courses-template.global.site.directories.images
    %}
<div class="instructor-courses">
    <div class="row">
        <h1 class="title-primary mtb-big">
            {{site.data.online-courses-template.instructor.my-courses.title}}
        </h1>
    </div>
    <div class="row">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-active" data-toggle="collapse" href="#collapsee1">
              <h4 class="panel-title">
                <a >Courses</a>
              </h4>
            </div>
            <div id="collapsee1" class="panel-collapse collapse in">
                <ul class="list-group">
                  {% for course in site.data.online-courses-template.instructor.courses %}
                  {% assign showCourse = "showCourse('" | append: course.id | append: "')" %}
                <li class="list-group-item" onclick="{{showCourse}}" ><a>{{course.name}}</a></li>
                  {% endfor %}
                </ul>
            </div>
          </div>
        </div>
    </div>
    
    <section class="edit-course" id="course4">
          <h1 class="course-title">{{site.online-courses-courses[6].name}}</h1>
      <div class="abscenter">
          <div class="instructor-courses__inline">
            <div class="instructor-courses-image">
                <img src="{{image-directory | append: site.online-courses-courses[6].image.name | relative_url }}" alt="">
            </div>
            <div class="instructor-courses-table">
              {% assign students = site.data.online-courses-template.instructor.courses[0].student-list %}
              {% include online-courses-template/global/login-input.html input-type='text' input-name='Search' id="myInput" %}
              {% include global/table.html header=students.student-table.header content=students.student-table.content %}
            </div>     
          </div>
          <div class="row">
            {% assign sections = site.online-courses-courses[1].course-content %}
            {% include online-courses-template/global/accordion.html sections=sections %}
          </div>
          {% include online-courses-template/global/card-fields-sections.html sections=site.data.online-courses-template.instructor.edit-indo-sections %}
      </div>      
    </section>
    
</div>

