---
layout: online-courses-template/online-courses-header
title: Coursing | My courses

---

<div class="title-stripe">
    My courses 
</div>


<div class="abscenter">
    {% for course in site.online-courses-courses %}
        {% for student-course in site.data.online-courses-template.user.courses %}
            {% if course.identifier == student-course.id %}
                <div class="card-cont" identifier="{{card.identifier}}"  {% for i in card.filters %} {{ i.name | remove: ' ' | downcase }}={{i.value}} {% endfor %}>
                    {% include online-courses-template/cards/course-card.html card=course bought-info=student-course %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
      
</div>
<div class="abscenter mt-big pb-big">
{% assign number-of-pages = site.data.online-courses-template.user.courses | size | divided_by: 9.0 | ceil %}
    {% include global/pagination.html number-of-pages=number-of-pages %} 
</div>