---
layout: online-courses-template/online-courses-header
title: Coursing | My cart

---
{% assign
    svg-directory=site.data.online-courses-template.global.site.directories.svg-icon-directory
    | relative_url | append: "#" %}
<div class="title-stripe__text">
    {{site.data.online-courses-template.profile.my-cart.title}}
</div>

<!--Searching for total price courses-->
{% assign total-price = 0 %}
{% for card in site.online-courses-courses %}
    {% for card-cart in site.data.online-courses-template.user.cart-courses %}
        {% if card.identifier == card-cart.id %}
            {% if card.discount-price %}
                {% assign total-price = total-price | plus: card.discount-price %}
            {% else %}
                {% assign total-price = total-price | plus: card.price %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}


<div class="row">
    
    {% assign cart-lenght= site.data.online-courses-template.user.cart-courses | size %}
    <div class="cart-container">
        <div class="cart-info">
            <div class="cart-lenght">
                {{cart-lenght}} {{site.data.online-courses-template.profile.my-cart.total-courses}}
            </div>
            {% assign pay-info = site.data.online-courses-template.profile.my-cart.pay-info %}
            {% if cart-lenght != 0  %}
                {% include online-courses-template/cards/buy-card.html text=pay-info.text currency=pay-info.currency btn=pay-info.btn price=total-price %}
            {% endif %}
        </div>
        
        {% if cart-lenght == 0  %}
            {% assign empty-message= site.data.online-courses-template.profile.my-cart.empty-cart %}
            {% include online-courses-template/global/empty-message.html message=empty-message.empty-message icon=empty-message.empty-icon btn=empty-message.btn svg-directory=svg-directory  %}
        {% else %}
            <div class="cart-cards">
                {% for card in site.online-courses-courses %}
                    {% for card-cart in site.data.online-courses-template.user.cart-courses %}
                        {% if card.identifier == card-cart.id %}
                            <div class="card-cont" value={{forloop.index}} identifier="{{card.identifier}}"  {% for i in card.filters %} {{ i.name | remove: ' ' | downcase }}={{i.value}} {% endfor %}>
                                {% include online-courses-template/cards/course-card.html card=card  %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>        
        {% endif %}
    </div>   
</div>