---
layout: online-courses-template/online-courses-header
title: Coursing | My profile
---

{% assign image-directory=
site.data.online-courses-template.global.site.directories.images %}
{% assign
    svg-directory=site.data.online-courses-template.global.site.directories.svg-icon-directory
    | relative_url | append: "#" %}
<div class="title-stripe__no-text">
    <div class="profile-general-info">
        <div class="img">
          <img
            src="{{image-directory | append: site.data.online-courses-template.user.image.pic | relative_url  }}"
            alt="{{site.data.online-courses-template.user.image.alt}}"
          />
          <div class="file">
            {% include global/svg.html directory=svg-directory image='icon-attachment' class='icon' %}
          </div>
        </div>
        <div class="name">
          {{site.data.online-courses-template.user.info.name | append: ' ' | append:
          site.data.online-courses-template.user.info.lastname}}
        </div>
      </div>
</div>
<div class="profile mtb-bigger">
  <div class="profile-card">
    <div class="links">
        {% for link in site.data.online-courses-template.profile.sections %}
            <div class="link {% if forloop.index == 1 %} link-active {% endif %}" id={{forloop.index}}>{{link.title}}</div> 
        {% endfor %}
    </div>
    {% for link in site.data.online-courses-template.profile.sections %}
    <div class="content {% if forloop.index == 1 %} active-content {% endif %}" id={{forloop.index}}>
        {% if link.one-side %}
            <div class="fields">
                {% assign inputs = site.data.online-courses-template.profile.sections[forloop.index0].one-side %} 
                {% include online-courses-template/profile/profile-content.html inputs=inputs %}
            </div>
        {% endif %}
        <div class="fields"> 
            <div class="left-side">
                {% assign inputs = site.data.online-courses-template.profile.sections[forloop.index0].left-fields %}
                {% include online-courses-template/profile/profile-content.html inputs=inputs %}
            </div>
            <div class="right-side">
                {% assign inputs = site.data.online-courses-template.profile.sections[forloop.index0].right-fields %}
                {% include online-courses-template/profile/profile-content.html inputs=inputs %}
            </div>
        </div>
        <div class="btn-content">
            {% assign buttons= site.data.online-courses-template.profile.sections[forloop.index0].btn %}  
            {% for btn in buttons %}
                {% include online-courses-template/global/button.html btn=btn %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>
