---
layout: online-courses-template/online-courses-header
title: Coursing | My profile
---

{% assign image-directory=
site.data.online-courses-template.global.site.directories.images %}
{% assign
    svg-directory=site.data.online-courses-template.global.site.directories.svg-icon-directory
    | relative_url | append: "#" %}
<div class="profile mtb-big">
  <div class="profile-general-info">
    <div class="img">
      <img
        src="{{image-directory | append: site.data.online-courses-template.user.image.pic | relative_url  }}"
        alt="{{site.data.online-courses-template.user.image.alt}}"
      />
      <div class="file">
        {% include global/svg.html directory=svg-directory image='icon-attachment' class='icon' %}
      </div>
    </div>
    <div class="name">
      {{site.data.online-courses-template.user.info.name | append: ' ' | append:
      site.data.online-courses-template.user.info.lastname}}
    </div>
  </div>
  <div class="profile-card">
    <div class="links">
        {% for link in site.data.online-courses-template.profile.sections %}
            <div class="link {% if forloop.index == 1 %} link-active {% endif %}" id={{forloop.index}}>{{link.title}}</div> 
        {% endfor %}
    </div>
    {% for link in site.data.online-courses-template.profile.sections %}
    <div class="content {% if forloop.index == 1 %} active-content {% endif %}" id={{forloop.index}}>
        {% if link.one-side %}
            <div class="fields">
                {% assign inputs = site.data.online-courses-template.profile.sections[forloop.index0].one-side %} 
                {% for input in inputs %}         
                    {% if input.checked %}
                        {% include online-courses-template/global/checkbox.html checked=input.checked text=input.text %}
                    {% endif %}
                    {% if input.text-info %}
                        <div class="warning-info">
                            {% include global/svg.html directory=svg-directory image='icon-notification' class='icon' %}
                           <p>{{input.text-info}}</p> 
                        </div>           
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="fields"> 
            <div class="left-side">
                {% assign inputs = site.data.online-courses-template.profile.sections[forloop.index0].left-fields %}          
                {% for input in inputs %}
                    {% if input.title %}
                        <div class="title">
                            {{input.title}}
                        </div>   
                    {% endif %}          
                    {% if input.input %}
                        {% for field in site.data.online-courses-template.user.profile %}
                            {% if input.input.name == field.name %}
                                {% include online-courses-template/global/login-input.html label=input.label  input-type=input.input.type input-name=field.text svg-directory=svg-directory %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if input.checked %}
                        {% include online-courses-template/global/checkbox.html checked=input.checked text=input.text %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="right-side">
                {% assign inputs = site.data.online-courses-template.profile.sections[forloop.index0].right-fields %}          
                {% for input in inputs %}
                    {% if input.title %}
                            <div class="title">
                                {{input.title}}
                            </div> 
                    {% endif %}
                    {% if input.input %}
                        {% for field in site.data.online-courses-template.user.profile %}
                            {% if input.input.name == field.name %}
                                {% include online-courses-template/global/login-input.html label=input.label  input-type=input.input.type input-name=field.text svg-directory=svg-directory %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if input.checked %}
                        {% include online-courses-template/global/checkbox.html checked=input.checked text=input.text %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="btn-content">
            {% assign buttons= site.data.online-courses-template.profile.sections[forloop.index0].btn %}  
            {% for btn in buttons %}
                {% include online-courses-template/global/button.html btn=btn %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>
