---
layout: online-courses-template/online-courses-header
---

{% assign image-directory=
site.data.online-courses-template.global.site.directories.images %} 
{% assign
svg-directory=site.data.online-courses-template.global.site.directories.svg-icon-directory
| relative_url | append: "#" %} 
{% assign member=false %} 
{% assign instructor=false %}
{% for course-student in site.data.online-courses-template.user.courses %} 
    {% if course-student.id ==
    page.identifier %} 
        {% assign member=true %} 
    {% endif %} 
{% endfor %} 
{% for course-instructor in site.data.online-courses-template.instructor.courses %}
        {% if course-instructor.id == page.identifier %}
            {% assign instructor=true %}
        {% endif %}
{% endfor %}
{% if instructor == true %}
    {% include online-courses-template/course-detail-pages/course-detail-instructor.html page=page %}
{% else %}
    {% if member == false %}
            {% include online-courses-template/course-detail-pages/course-detail.html page=page %}
    {% else %}
            {% include online-courses-template/course-detail-pages/course-detail-subscribed.html page=page %}
    {% endif %}
{% endif %}
