<div class="create-course-basic-info">
    <div class="left-side">
        {% include online-courses-template/global/login-input.html  input-type=include.info.name.type label=include.info.name.title  %}
        {% include online-courses-template/global/login-input.html  input-type=include.info.description.type label=include.info.description.title height='120px'  %}
    </div>
    <div class="right-side">
        {% include online-courses-template/global/login-input.html  input-type=include.info.price.type label=include.info.price.title %}   
    </div>
</div>

