{% assign content= site.online-courses-courses[1].features[0].collection %}
{% assign
    svg-directory=site.data.online-courses-template.global.site.directories.svg-icon-directory
    | relative_url | append: "#" %}
{% include global/table.html header=site.data.online-courses-template.instructor.includes-table.header content=content action=site.data.online-courses-template.instructor.includes-table.action svg-directory=svg-directory %}
<div class="abscenter">
    {% include online-courses-template/global/login-input.html  input-type='text' input-name='Add a new include' svg-directory=svg-directory %}
</div>