<div class="side-nav">
    <div class="image-container">
      <img
        src="{{include.image-directory | append: site.data.online-courses-template.user.image.pic | relative_url  }}"
        alt="{{site.data.online-courses-template.user.image.alt}}"
      />
    </div>
  {% for link in site.data.online-courses-template.instructor.side-nav %}
    <a class="link {% if forloop.index == 1 %} link-active {% endif %}" href="{{site.data.online-courses-template.global.site.base-url | append: link.href | relative_url}}">
        {% include global/svg.html directory=include.svg-directory image=link.icon class='link__image' %}
        <div class="text">{{link.text}}</div>
    </a>
  {% endfor %}
</div>