<div class="section__contact">
    <div class="book__form">
        <form action="" class="form">
            <div class="form__text-side">
                    {% include corporate-template/title.html title='Contact us' %}
            </div>
            <div class="form__input-side">
                {% for input in site.data.navigation.form.inputs %}
                <div class="form__group">
                    <input type="{{input.type}}" class="form__input" placeholder="{{input.title}}" id="{{input.id}}" required>
                    <label for="{{input.id}}" class="form__label">{{input.title}}</label>
                </div>
                {% endfor %}
                <div class="form__button">
                    {% include corporate-template/button-primary.html type=1 title=site.data.navigation.form.button %}  
                </div>
            </div>
            </form>
        </div>      
    </div> 
</div>

<style>
    .section__contact{
        background-image: url("../../1-corporate-template/assets/images/{{site.data.navigation.form.background}}");
    }
</style>