<div style="height: 150px; overflow: hidden;" ><svg class="section__contact-wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C178.89,174.17 339.16,-78.45 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path></svg></div>
<div class="section__contact">
  
    <div class="book__form js--wp-2">
        <form action="" class="form">
            <div class="form__text-side">
                    {% include corporate-template/title.html title='Contact us' %}
                    {% include svg.html directory='../../1-corporate-template/assets/svg/contact.svg#' image='mail' class='form__svg'  %}
            </div>
            <div class="form__input-side">
                <div class="form__input-side1">
                    <div class="form__group">
                        <input type="" class="form__input" placeholder="{{site.data.navigation.form.inputs[0].name}}" id="{{site.data.navigation.form.inputs[0].name.id}}" required>
                        <label for="{{site.data.navigation.form.inputs[0].name.id}}" class="form__label">{{site.data.navigation.form.inputs[0].name}}</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" placeholder="{{site.data.navigation.form.inputs[1].email}}" id="{{site.data.navigation.form.inputs[1].email.id}}" required>
                        <label for="{{site.data.navigation.form.inputs[1].email.id}}" class="form__label">{{site.data.navigation.form.inputs[1].email}}</label>
                    </div>
                </div>
                <div class="form__group">
                    <input type="" class="form__input" placeholder="{{site.data.navigation.form.inputs[2].message}}" id="{{site.data.navigation.form.inputs[2].message.id}}" required>
                    <label for="{{site.data.navigation.form.inputs[2].message.id}}" class="form__label">{{site.data.navigation.form.inputs[2].message}}</label>
                </div>
                <div class="form__button">
                    {% include corporate-template/button-primary.html type=1 title=site.data.navigation.form.button %}  
                </div>
            </div>
            </form>
        </div>      
</div>
<div style="height: 150px; overflow: hidden;" ><svg class="section__contact-wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;"></path></svg></div>


