.footer{       
    background-color: var(--color-secondary);
    padding-bottom: 40px;
    height: auto;

    &__container{
        @include abscenter;
        align-items: flex-start !important;
        padding:0 100px;
    }

    &__wave{
        background-color: var(--color-secondary);
    }
    
    &__copyright{
        @include abscenter;
        font-family: 16px;
        font-size: 1.5rem;
        font-weight: 200;
        color: white;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center !important;
    }

    &__svg-info{
        fill: white;
        height: 100%;
        width: 100%;
    }

    &__svg-quotes{
        fill: #58587a; //change
        height: 100%;
        width: 100%;
    }
}

 .footer-col{
        margin-top: 20px;
        display: flex;
        width: 300px;
        flex-direction: column;
        

        &:not(:last-child){
            margin-right: 40px;
        }

        &__quotes{
            height: 50px; width: 50px;
        }

        &__message{
            color: white;
            font-weight: 200;
            font-size: 1.35rem;
            text-align: end;
            transform: translateY(-20px);
        }

        &__member{
            border-radius: 100%;
            height: 50px; width: 50px;
            transform: translateY(-20px);
            margin-left: 50px;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                filter: opacity(.6);
            }
        }

        &__title{
            color: white;
            letter-spacing: 2px;
            font-weight: 600;
            font-size: 1.6rem;
            align-self: center;
        }

        &__logo{
            height: 60px;
            width: auto;
    
            img{
                height: 100%;
            }
        }
        &__description{
            color: white;
            font-weight: 100;
            text-align: justify;
            font-size: 1.4rem;
            line-height: 200%;
        }
       
        

        &__item{
            @include abscenter;
            margin-top: 15px;
            &__svg{
                height:18px; width: 18px;
                width: 25%;      
            }
            &__text{
                color: white;
                font-weight: 100;
                font-size: 1.5rem;
                width: 75%;
            }
        }
 }
    

    

