.team-section {
  margin: 250px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include respond(tab-port){
    margin-top: 50px !important;
  }
}

.team-card {
  position: relative;
  background-color: white;
  width: 200px;
  height: 320px;
  margin: 25px 35px;
  box-shadow: 0px 10px 20px rgba(black, 0.3);
  transition: all 0.2s;

  &:hover {
    outline-offset: 10px;
    outline: 7.5px solid var(--color-primary);
  }

  &:hover {
    .team-card__img img {
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }

    .team-card__text-container {
      height: 100% !important;
    }

    .team-card-social {
      visibility: visible;
      display: flex !important;
      position: absolute;
      width: 100%;
    }
  }
  &__text-container {
    height: 120px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: all 0.4s;
  }

  &__text {
    margin-top: 17.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  &__text-active {
    color: var(--color-primary);
    font-weight: 700;
    padding-bottom: 10px;
  }

  &__img {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;

    img {
      height: 100%;
      width: auto;
      background-position: center;
      margin-right: auto !important;
    }
  }
}

.team-card-social {
  margin-top: 15px;

  display: none !important;
  visibility: hidden;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

.team-bg {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(black, 0.2) 0%,
      rgba(black, 0.2) 100%
    ),url("../../1-corporate-template/assets/images/Untitled-2.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1 !important;
  &__title{
      width: 90%;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      letter-spacing: 5px;
      font-size: 20px;   
      text-align: center;
      z-index: 2;
  }
  &__title-big{
    width: 90%;
    z-index: 1;
    color: rgba(rgb(146, 146, 146), .5);
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 5px;
    font-size: 21px;   
    text-align: center;
}
}

.team-box{
  position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    background-color: rgb(238, 238, 238);
    width: 70%;
    padding: 20px 0;
    box-shadow: 0px 5px 15px rgba(black,  .2);
    border-radius: 5px;
    @include abscenter;
    
    @include respond(tab-port){
      position: relative;
      margin-top: 50px;
    }

      &__item{
        display: flex;
        align-content: center !important;
        justify-content: center !important;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }

      &__text{
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 1.5px;
      }
   
  
      &__circle{
        position: relative;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background-color: white;
        align-self: center;
        cursor: pointer;
        transition: all .2s;

        &:hover{
          box-shadow: 0 5px 15px rgba(black, .2);
          transform: scale(1.2);
        }
      }

      &__svg{
        fill: var(--color-terciary);
        height: 35px;
        width: 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
      }
    
}





.progress-box{
  &__bar{
    width:500px;
    height:20px;
    background-color: grey;
    position: relative;
    margin-top: 100px;
    &__animated{
      width:0px;
      height: 16px;
      position: absolute;
      background-color: greenyellow;
      top: 2px; left: 0;
    }
  }

}
.yvv{
  width:20%;
}