{% assign
    svg-directory=site.data.culinary-blog-template.global.site.directories.svg-icon-directory
    | relative_url | append: "#" %}
<div class="recepe-box">
    <div class="recepe-box__header">
        <h2>{{include.page.title}}</h2>
        <h3>{{include.page.subtitle}}</h3>
    </div>
    <div class="recepe-box__content">
        <div class="recepe-box__content__side">
            <div class="image-container">
                <img src="{{image-directory | append: include.page.primary-image.name | relative_url }}" alt="{{include.page.primary-image.alt}}">
            </div>
        </div>
        <div class="recepe-box__content__side">
            <div class="features">
                {% for feature in include.page.sections %}
                    <div class="features__box-inline">
                        {% include global/svg.html directory=svg-directory image=include.icon class='icon'  %}
                        <p>{{feature.name}}</p>
                    </div>
                {% endfor %}
                    <div class="features__box-column">
                        <h2>{{include.page.breve-text.title}}</h2>
                        <p>{{include.page.breve-text.text}}</p>
                    </div>
                {% if include.page.score %}
                    <div class="features__box-score">
                        {% include global/score.html score=include.page.score color='dark' text=true  %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>