<div class="recipe-box">
    <div class="recipe-box__header">
        <h2>{{include.page.title}}</h2>
        <h3>{{include.page.subtitle}}</h3>
    </div>
    <div class="recipe-box__content">
        {% if include.page %}
            {% if include.page.basic-info.primary-image %}
                <div class="recipe-box__content__side">
                    <div class="image-container">
                        <img src="{{image-directory | append: include.page.basic-info.primary-image.name | relative_url }}" alt="{{include.page.basic-info.primary-image.alt}}">
                    </div>
                </div>
            {% endif %}
            <div class="recipe-box__content__side">
                <div class="features">
                    {% for feature in include.page.sections %}
                        <div class="features__box-inline">
                            {% include global/svg.html directory=include.svg-directory image=include.icon class='icon'  %}
                            <p>{{feature.name}}</p>
                        </div>
                    {% endfor %}
                        <div class="features__box-column">
                            <h2>{{include.page.breve-text.title}}</h2>
                            <p>{{include.page.breve-text.text}}</p>
                        </div>
                    {% if include.page.score %}
                        <div class="features__box-score">
                            {% include global/score.html score=include.page.score color='dark' text=true  %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="rounded-image-container">
                <img src="{{image-directory | append: include.quote.person.image | relative_url }}" alt="{{include.quote.person.alt}}">
            </div>
            <div class="recipe-box__content__side--big">
                <p>{{include.quote.message}}</p>
                <div class="line"></div>
                <div class="name">{{include.quote.person.name}}</div>
            </div>
        {% endif %}
    </div>
</div>