
<section class="breads-section">
    {% assign size = include.collection | size | divided_by: 4.0 | ceil  %}
    {% assign counter = 0 %}
    {% for field in (1..size) %}
        <ul class="breads">
            {% for photo in (1..4) %}
                <li>
                    <figure class="meal-photo">
                        <img src="{{include.image-directory | append: include.collection[counter].image.name | relative_url}}" alt="{{include.collection.image.alt}}">
                    </figure>
                    {% assign counter= counter | plus: 1 %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

</section>