
<section class="newsletter-section" style="background-image:url({{include.image-directory | append: include.background | relative_url }});">   
    <div class="newsletter-card">
        <div class="newsletter-card__box">
            <h1>{{include.form.title}}</h1>
            <h2>{{include.form.subtitle}}</h2>
            {% for input in include.form.inputs %}
                <div class="form__group">
                    <input type="{{input.type}}" class="form__input" placeholder="{{input.placeholder}}" id="{{input.name}}" required>
                    <label for="{{input.name}}" class="form__label">{{input.placeholder}}</label>
                </div>
            {% endfor %}
            {% include culinary-blog-template/global/button-primary.html title=include.form.btn.text %}
        </div>
    </div>
</section>
