
<div class="header__categories" {% if include.link.href %} href="{{include.base-url | append: include.link.href | relative_url}}" {% endif %}>
    <div class="header__categories__icon">
      {% include global/svg.html directory=include.svg-directory image=include.link.icon
      class='icon' %}
    </div>
    {% if include.link.name %}
      <div class="title">{{include.link.name}}</div>
    {% endif %}
    <div
      class="dropdown-menu {% if include.position == 'left' %} dropdown-menu--left {% else if include.position == 'right' %} dropdown-menu--right {% endif %}"
    >
      {% for link in include.sections %}
      <a href="{{link.url | relative_url}}" class="dropdown-menu__link">
        <div class="title-link">{{link.title | capitalize }}</div>
        {% include global/svg.html directory=include.svg-directory
        image='icon-keyboard_arrow_right' class='icon-link' %}
      </a>
      {% endfor %}
    </div>
  </div>
