@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

*::selection{
    background-color: var(--color-primary-light);
}

.title-secondary{
    color: var(--color-secondary);
    font-size: 2.5rem;

}

.title-primary {
    color: var(--color-secondary);
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.title-terciary{

    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block; 
    background-image: linear-gradient(to right, var(--color-primary),var(--color-terciary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
     
     &:hover{
        transform: scale(1.1);
        text-shadow: 5px 10px 20px #6b6b6b5b;
    }
}