@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


.title-secondary{
    color: var(--color-title-secondary);
    font-size: 25px;

}

.title-primary {
    color: var(--color-title-primary);
    font-size: 35px;
    letter-spacing: 5px;
}