
    <div class="book__form ">
        <form action="" class="form">
            <div class="form__text-side">
                    {% include corporate-template/title.html title=site.data.corporate-template.home.sections.form.title %}
                    {% assign svg-directory='/1-corporate-template/assets/svg/contact.svg' | relative_url | append: '#' %}
                    {% include svg.html directory=svg-directory image='mail' class='form__svg'  %}
            </div>
            <div class="form__input-side">
                <div class="form__input-side1">
                    <div class="form__group">
                        <input type="" class="form__input" placeholder="{{site.data.corporate-template.home.sections.form.inputs[0].name}}" id="{{site.data.corporate-template.home.sections.form.inputs[0].name.id}}" required>
                        <label for="{{site.data.corporate-template.home.sections.form.inputs[0].name.id}}" class="form__label">{{site.data.corporate-template.home.sections.form.inputs[0].name}}</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" placeholder="{{site.data.corporate-template.home.sections.form.inputs[1].email}}" id="{{site.data.corporate-template.home.sections.form.inputs[1].email.id}}" required>
                        <label for="{{site.data.corporate-template.home.sections.form.inputs[1].email.id}}" class="form__label">{{site.data.corporate-template.home.sections.form.inputs[1].email}}</label>
                    </div>
                </div>
                <div class="form__group">
                    <input type="" class="form__input" placeholder="{{site.data.corporate-template.home.sections.form.inputs[2].message}}" id="{{site.data.corporate-template.home.sections.form.inputs[2].message.id}}" required>
                    <label for="{{site.data.corporate-template.home.sections.form.inputs[2].message.id}}" class="form__label">{{site.data.corporate-template.home.sections.form.inputs[2].message}}</label>
                </div>
                <div class="form__button">
                    {% include corporate-template/button-primary.html type=1 title=site.data.corporate-template.home.sections.form.button %}  
                </div>
            </div>
            </form>
        </div>      
