<section class="us-section">
    {% include corporate-template/global/title.html title=site.data.corporate-template.home.sections.why-us.title %}
    <div class="row">
      <div class="us-col-container mt-big">
        <div class="us-col us-col__1 ">
            <div class="composition">
                {% for image in site.data.corporate-template.home.sections.why-us.composition %}
                    {% assign image-directory={{site.data.corporate-template.global.assets.images | append: image.image | relative_url }}
                    %}   
                <img class="composition__photo" src="{{image-directory}}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="us-col us-col__2 ">
            <div class="us-col__text">
                <div class="heading mb-medium">
                   {{ site.data.corporate-template.home.sections.why-us.heading }}
                </div>
                {% for paragraph in site.data.corporate-template.home.sections.why-us.paragraphs %}
                <div class="paragraph u-justify-text mt-medium">
                        {{ paragraph.text }}
                </div>
                {% endfor %}
                <div class="us-col-container mt-big">
                    {% assign page=site.data.corporate-template.home.sections.why-us.button.to | prepend: site.data.corporate-template.global.corporate-base-url | relative_url %}
                    {% include corporate-template/global/button-primary.html title=site.data.corporate-template.home.sections.why-us.button.title
                        type=2  to=site.data.corporate-template.home.sections.why-us.button.to-type id=page  %}
                </div>
            </div>
               
        </div>
      </div>
    </div>
   
</section>

