<div class="post-module">
    <div class="thumbnail">
      {% assign image-directory={{site.data.corporate-template.global.assets.images | append: include.card.img | relative_url }}
                %} 
      <img src="{{image-directory}}"/>
    </div>
    <a href="{{include.card.url | relative_url }}" class="post-content">
        <div class="category">{{include.card.category}}</div>
        <div class="hidden-content">
          <h1 class="title2">{{include.card.title}}</h1>
          <h2 class="sub_title">{{include.card.subtitle}}</h2>
          {% assign description={{include.card.description[0].paragraph | truncatewords 360}} %}
          <p class="description">{{description}}</p>
          <a href="{{include.card.url | relative_url }}" class="btn-text hide">{{include.card.button}}</a>
        </div>
    </a>
</div>