<div class="post-module">
    <div class="thumbnail">
      <img src="{{site.data.corporate-template.global.assets.images | relative_url }}{{include.card.img}}"/>
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="category">{{include.card.category}}</div>
      <div class="xy">
        <h1 class="title2">{{include.card.title}}</h1>
        <h2 class="sub_title">{{include.card.subtitle}}</h2>
        {% assign description={{include.card.description | truncatewords 360}} %}
        <p class="description">{{description}}</p>
        <a href="{{include.card.url}}" class="btn-text hide">{{include.card.button}}</a>
      </div>
    </div>
  </div>