<div class="us-features row">
    {% for feature in include.collection %}
        <div class="us-features__card">
            <div class="us-features__card__circle">
                {% assign svg-directory=site.data.corporate-template.global.assets.svg-icon-directory | relative_url | append: "#"
                %}
                {% include global/svg.html directory=svg-directory image=feature.icon class='svg' %}
            </div>
            <div class="us-features__card__text">
                {{feature.text }}
            </div>
        </div>
    {% endfor %}
</div>