
.heading-primary {
    font-size:2em;
    padding:2em;
    text-align:center;
  }
  .accordion dl,
  .accordion-list {
    // border:1px solid #521010;

  }
  .accordion dd,
  .accordion__panel {
     background-color:#eee;
     font-size:1.4rem;
     line-height:1.5em; 
  }
  .accordion p {
    margin-left: 10px;
    width:80%;
  }
  
  .accordion {
      position:relative;
     // background-color:#521010;
  }
  .accordion-container {
    max-width:960px;
    margin:0 auto;
    padding:2em 0 2em 0;
  }
  .accordionTitle,
  .accordion__Heading {
    background-color: #fff;
    font-weight: 400;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: var(--color-secondary-dark);
    font-size: 1.6rem;
    transition: background-color 0.5s ease-in-out;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: $shadow-light;
    &:hover {
      background-color:var(--color-secondary);
      color: #fff;
    }
  }
  .accordionTitleActive, 
  .accordionTitle.is-expanded {
     background-color: var(--color-secondary);
     color: #fff;
      &:before {
       
        transform:rotate(-225deg);
      }
  }
  .accordionItem {
      height:auto;
      overflow:hidden; 
      max-height:50em;
      transition:max-height 1s;   
        .item{
            display: flex;
            align-items: center;
            padding: 10px;
        }

      @media screen and (min-width:48em) {
           max-height:15em;
          transition:max-height 0.5s
          
      }
      
     
  }
   
  .accordionItem.is-collapsed {
      max-height:0;
  }
  .no-js .accordionItem.is-collapsed {
    max-height: auto;
  }
  .animateIn {
       animation: accordionIn 0.45s;// normal ease-in-out both 1; 
  }
  .animateOut {
       animation: accordionOut 0.45s;// alternate ease-in-out both 1;
  }

  @keyframes accordionIn {
    0% {
      opacity: 0;
      transform:scale(0.9) rotateX(-60deg);
      //transform-origin: 50% 0;
    }
    100% {
      opacity:1;
      transform:scale(1);
    }
  }
  
  @keyframes accordionOut {
      0% {
         opacity: 1;
         transform:scale(1);
       }
       100% {
             opacity:0;
             transform:scale(0.9) rotateX(-60deg);
         }
  }


  .item-icon{
    height: 25px;
    width: 25px;
    fill: var(--color-primary);
  }