.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    @include background;
    background-attachment: fixed;
    @include respond(tab-land){
        background-attachment: local !important;
    }
    /*&:after {
        content: "";
        z-index:1;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: black, $alpha: .2)
    } */
    &__title{
        position: absolute;
        top: 30%;
        right: 15%;
        z-index: 2;
        @include respond(phone){
            right: 5%;

        }
        h1{
            letter-spacing: 2.5px;
            &.primary{
                font-size: 7rem !important;
                color: var(--color-primary);
                @include respond(phone){
                    font-size: 5rem !important;
                }
            }
            &.secondary{
                font-size: 4rem !important;
                color: var(--color-secondary);
                font-weight: 100;
                text-align: end;
            }
        }
        
    }
}

.banner-secondary{
    @include background;
    height: 200px;
    position: relative;
    h2{
        font-family: 'Alfa Slab One' !important;
        color: var(--color-secondary);
        letter-spacing: 3px;
        padding: 40px;
        position: relative;
        font-size: 5rem;
        z-index: 9;
    }
    &:after {
        content: "";
        z-index:1;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(#fff, $alpha: .6)
    }
}