.filter-box{
    background-color: var(--color-secondary);
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: -5%;
    z-index: 6 !important;
    position: relative;
    border-radius: 10px;
    padding: 2rem;
    @include abscenter;
    justify-content: space-around;
    box-shadow: $shadow-light;
    @include respond(phone){
        width: 90%;
    }
    &__input{
        position: relative;
        width: 300px;
        margin: 15px;
        transition: all .3s;
        span{
          position: absolute;
          color: darken(#EDEDED, 10%);
          left: 1rem;
          top: .8rem;
          font-size: 2rem;
          transition: all .2s;
          i{         
            .icon{
                height: 3rem;
                width: 3rem;
                fill: var(--color-secondary);
            }
          }
        }
        
        input{
          width: 100%;
          padding: 1rem 5px 1rem 5rem;
          border: 1px solid #EDEDED;
          border-radius: 4px;
          transition: 0.2s ease-out;
          color: darken(#EDEDED, 30%);
          font-size: 1.7rem;
          &:focus{
            padding: 10px 5px 10px 10px;
            outline: 0;
                
            + span {
                transform: translate(-100%);
                visibility: hidden;
            }
          }
        }
    }
    &__radios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        .input-container{
            @include abscenter;
            color: #fff;
            font-weight: 400;
        }
        p{
            color: #fff;
            font-size: 1.6rem;
            text-align: center;
        }
          
    }
}




