
.gallery-photo{
    height: 250px;
    position: relative;
    width: 200px;
    border-radius: 10px;
    box-shadow: $shadow-light;
    @include abscenter;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all .2s;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 0;
        transition: all .3s;
        background: var(--color-secondary);
        z-index: 0;
    }
    &:hover{
        transform: scale(1.05);
        &:after {
            opacity: 0.9;
        }
        .title{
            opacity: 1;
        }      
    }
    .title{
        position: absolute;
        color:  #fff;
        font-weight: 700;
        opacity: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        transition: all .3s;
    }
    .image-container{
        border-radius: 50%;
        height: 160px;
        width: 160px;
        overflow: hidden;
        @include abscenter;
        background-color: black;
        border: 4px solid #fff;
        margin-bottom: 10px;
        img{
            width: auto;
            height: 100%;
            object-fit: contain;
            transform: scale(1.4);
            filter: opacity(0.8);
        }
    }
}