.presentation-card{
    width: 250px;
    height: 300px;
    margin: 20px;
    box-shadow: $shadow-light;
    &>*{
        height: 50%;
    }
    .image-container{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;

        }
    }
    .info{
        margin: 20px;
        @include abscenter;
        flex-direction: column;
        h2{
            font-size: 2rem;
            padding-bottom: 15px;
            text-align: center;
            color: var(--color-primary-dark);
        }
        .border{
            background-color: var(--color-primary-light);
            height: 2px;
            width: 20%;
        }
        .button{
            margin-top: auto;
            padding: 15px;
            text-decoration: none;
            background-color: var(--color-primary-light);
            color: #fff;
            font-size: 1.6rem;
            width: 100%;
            text-align: center;
            transition: all .3s;
            &:hover{
                background-color: var(--color-primary-hover);
            }
        }
    }
}