.presentation-card{
    width: 250px;
    height: 300px;
    margin: 35px  20px;
    box-shadow: $shadow-light;
    transition: all .2s;
    &:hover{
        transform: scale(1.05);
        box-shadow:  $shadow-dark;
    }
    &>*{
        height: 50%;
    }
    .image-container{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;

        }
    }
    &__info{
        margin: 20px 0px;
        padding: 0 10px;
        width: 100%;
        @include abscenter;
        flex-direction: column;
        .svg{
            position: relative;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-color: var(--color-primary);
            .icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 20px;
                width: 20px;
                fill: #fff;
            }
        }
        h2{
            font-size: 1.8rem;
            padding-bottom: 15px;
            text-align: center;
            font-weight: 400;
            color: var(--color-secondary);
        }
        .border{
            background-color: var(--color-secondary);
            height: 2px;
            width: 20%;
        }
        .button{
            margin-top: auto;
            padding: 15px;
            text-decoration: none;
            background-color: var(--color-secondary);
            color: #fff;
            font-size: 1.6rem;
            width: 80%;
            text-align: center;
            transition: all .3s;
            &:hover{
                background-color: var(--color-secondary-dark);
            }
        }
    }
}

.presentation-card--large{
    @include abscenter;
    flex-wrap: nowrap;
    height: 200px !important;
    max-width: 500px;
    box-shadow: $shadow-light;
    padding: 0px;
    margin: 20px;
    transition: all .2s;
    &:hover{
        transform: scale(1.05);
        box-shadow:  $shadow-dark;
    }
    @include respond(phone){
        flex-direction: column;
        height: max-content !important;
        width: 250px;
    }

    .image-container{
        width: 350px;
        overflow: hidden;
        height: 100%;
        @include abscenter;
        @include respond(phone){
            width: 200px; height: 200px;
            margin-top: 20px;
        }
        img{
            width: auto;
            height: 100%;
        }
    }
    .presentation-card__info{
        .button{
            padding: 10px;
        }
    }
    
}


.presentation-card--small{
    height: 150px !important;
    max-width: 350px;
    @include respond(phone){
        flex-direction: row !important;
        margin: 20px 0;
    }
    .image-container{
        width: 200px !important;
        overflow: hidden;
        @include respond(phone){
            width: 200px;
            height: 100%;
            margin-top: 0 !important;
        }
    }
    .presentation-card__info{
        h2{
            font-size: 1.4rem;
        }
        .button{
            width: 80%;
            @include respond(phone){
                width: 100%;
                
            }
        }
    }
}