.recipe-box{
    width: 90%;
    box-shadow: $shadow-dark;
    height: max-content;
    margin: 5rem auto;
    margin-top: -5%;
    z-index: 4;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    @include respond(tab-land){
       // width: 70%;
        margin: 0 auto;
        margin-top: -5%;
        margin-bottom: 5%;
    }
    @include respond(tab-port){
        width: 90%;
    }
    &__header{
        padding: 30px 20px;
        height: max-content;
        width: 100%;
        max-height: max-content;
        border-radius: 10px 10px 0 0;
        background-color: var(--color-secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond(phone){
            align-items: center;
        }
        &>*{
            @include respond(phone){
                text-align: center;
                transform: translate(0) !important;
                
            }
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            font-size: 2.3rem;
        }
        h3{
            color: var(--color-primary);
            font-size: 1.6rem;
            transform: translateX(11%);
            max-width: 90%;
        }
    }
    &__content{
        @include abscenter;
        @include background;
        justify-content: space-around;
        height: max-content;
        padding: 20px;
        position: relative;
        min-height: 150px;
        
        &__container{
            width: 70%;
            margin: 0 auto;
            @include abscenter;
            flex-direction: column;
            .table-responsive{
                width: 100%;        
             }
            
            @include respond(tab-port){
                width: 100%;
            }
        }
        .rounded-image-container{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: -30px;
            left: 30px;
            border: 4px solid #fff;
            @include abscenter;
            @include respond(phone){
                left: 50%;
                transform: translateX(-50%);
            }
            img{
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }
        &__side{
            width: 45%;
            @include abscenter;
            align-items: flex-start;
            flex-direction: column;
            padding: 5px;
            @include respond(tab-port){
                width: 90%;
            }
            .image-container{
                max-height: 400px;
                max-width: 400px;
                margin: 0 auto;
                background-color: var(--color-secondary);
                border: 7px solid var(--color-secondary);
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                    //object-fit: contain;
                }
            }
            .social-media{
                @include abscenter;
                width: 100%;
                margin-top: 15px;
                &__title{
                    font-size: 1.6rem;
                    color: var(--color-secondary);
                    font-weight: 500;
                }
                &__icons{
                    .icon{
                        margin: 0 5px;
                        fill: var(--color-secondary);
                    }
                }
            }
            .features{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__box-inline{
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    .title{
                        font-size: 1.6rem;

                    }
                    .icon{
                        height: 25px;
                        width: 25px;
                        fill: var(--color-primary);
                    }
                    p{
                        margin-left: 10px;
                        font-size: 1.6rem;
                    }
                }
                &__box-column{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: 10px 0;
                    max-width: 100%;
                    h2{
                        font-size: 1.6rem;
                        font-weight: 500;
                        margin-bottom: 10px !important;
                    }
                    p{
                        font-size: 1.4rem;
                        text-align: justify;
                    }
                }
                &__box-score{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        &__side--big{
            width: calc(100% - 160px);
            margin-left: auto;
            padding: 10px 20px;
            @include abscenter;
            flex-direction: column;
            @include respond(phone){
                margin-top: 100px;
                width: 100%;
            }
            p{
                text-align: center;
            }
            .line{
                height: 2px;
                width: 100px;
                background-color: var(--color-secondary);
            }
            .name{
                margin: 15px 0;
                letter-spacing: 1px;
                font-size: 1.6rem;
            }
        }
    }
}
.recipe-box--big{
    width: 80%;
    margin: 10rem auto;
    @include respond(tab-port){
        width: 90%;
    }
}
