---
layout: corporate
---

<div class="blog-post row">
    <div class="blog-post__article">
        <div class="blog-post__article__path">
            <a href="{{ site.data.corporate-template.global.baseUrl | prepend: site.baseurl }}" class="text">{{site.title}}</a>
            <div class="arrow">>></div>
            <a href="{{ 'blog.html'  | prepend: site.baseurl }}" class="text">Blog</a>
            <div class="arrow">>></div>
            <a class="text"> {{page.title}}</a>
      </div>
    
      <div class="blog-post__article__title">
        {{page.title}}
      </div>
      <div class="blog-post__article__info">
          <div class="by">{{page.by}}</div>
          <div class="created">{{page.created}} {{page.date | date: "%b %d, %y" }}</div>
      </div>
      <div class="blog-post__article__line"></div>
      {% assign image-directory=site.data.corporate-template.global.assets.images | append: page.image | relative_url 
      %}
      <img class="blog-post__article__image" src="{{image-directory}}" alt="">
      <div class="blog-post__article__content">
        {{page.content}}
      </div>
    </div>
    <div class="blog-post__side">
        <div class="blog__side__title">{{site.data.corporate-template.blog.posts.top.title}}</div>
        {% assign tops=0 %}
        <div class="blog__side__cards">
            {% for spost in site.corporate-blogs %}
            {% if tops < site.data.corporate-template.blog.posts.top.quantity %}
                {% if spost.top %}
                    {% assign tops=tops | plus:1 %}
                    {% include corporate-template/cards/blog-small-card.html post=spost %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <a href="{{'blog.html' | prepend: site.baseurl}}" class="btn-text"> See all &rarr;</a>
        <div class="mt-big abscenter">
            {{ site.data.corporate-template.blog.posts.twitter.embebed}}
        </div>
    </div>

</div>
