  {% include corporate-template/header.html %}
<div class="header">
  <div class="banner-container">
    <div class="header__title js--wp-1">
      <h2 class="title-secondary ">
        {{site.data.navigation.banner.title-secondary}}
      </h2>
      <span id="typed" class="title-primary"></span>
      <div id="typed-strings">
        <h1 class="title-primary">
          {{site.data.navigation.banner.title-primary}}
        </h1>
      </div>
      <div class="line mtb-medium"></div>
      <div class="header__title-description">
        {{site.data.navigation.banner.header__title-description}}
      </div>
      <div class="btn-cont mt-medium">
        {% for button in site.data.navigation.banner.buttons %}
        <div class="mt-medium">
          {% include corporate-template/button-primary.html title=button.title
          type=button.type %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="banner-container__svg ">
      {% include svg.html directory='../../1-corporate-template/assets/svg/home.svg#' image='home' class='home-svg' %}
    </div>
  </div>
</div>

{% include corporate-template/border.html %}
