<div class="post-module">
    <div class="thumbnail">
      <img src="../../1-corporate-template/assets/images/{{include.card.img}}"/>
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="category">{{include.card.category}}</div>
      <div class="xy">
        <h1 class="title2">{{include.card.title}}</h1>
        <h2 class="sub_title">{{include.card.subtitle}}</h2>
        <p class="description">{{include.card.description}}</p>
        <a href="#" class="btn-text">{{include.card.button}}</a>
      </div>
    </div>
  </div>