<div class="row">
    <ul class=" {% if page.url == '/1-corporate-template/' %} main-nav {% else %} main-nav-active {% endif %}" >    
        <img
        class="logo"
        src="../1-corporate-template/assets/images/{{site.data.navigation.navigation.logo}}"
        alt="Logo"
        />
        <div class="{% if page.url == '/1-corporate-template/' %} main-nav__titles {% else %} main-nav-active__titles {% endif %}">
        {% for section in site.data.navigation.navigation.titles %}
        <li>
            <a href="{{section.url | prepend: site.baseurl }}"
            >{{section.title}}</a
            >
        </li>
        {% endfor %}
        </div>
    </ul>
</div>

