.techniques{
    display: flex;
    @include respond(tab-port){
        flex-direction: column;
        align-items: center;
    }
    .left-side{
        width: 100%;
        @include respond(tab-port){
            width: 90%;
        }

    }
    .right-side{
        margin-top: 15px;
    }
}